{% extends "../default.html" %} 
{% block content %}
<div class="container-fluid text-light bg-dark">
    <div class="row">
        <div class="col">
            <h1 class="display-6" alt="{{site.altkey}}{{cateInfo.name}}">{{cateInfo.name}}——艺术家</h1>
            {% include "./listTempArtist.html" %} {% include "../public/pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}


{% block navAvatar %}
    <div class="col-auto">
        {{navAvatar(listAvatars,128)}}
    </div>
{% endblock %}