{% extends "../default.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        {# 头部 名称，标签，成员 #}
        <div class="col-md-12 main-container" ms-controller="documentInfo">
            <input type="hidden" value="{{post._id}}" id="contentId">
            <div class="row">
                <div class="col-md-7 main-container">
                    <div class="row">
                        <div class="col-xs-12">                        
                            <h1>{{post.name}} {{post.alias}}</h1>
                        </div>
                        {# 风格 #}
                        <ol class="col-xs-12 breadcrumb">
                        {% if post.tags.length>0%}
                            {% for tag in post.tags %}
                            <li><a href="{{tag.url}}">{{tag.name}}   {{tag.alias}}</a></li>
                            {% endfor %}
                            <li><a href="{{post.url}}">{{post.from}}</a></li>
                        {% endif %}
                        </ol>
                        {# 友链 #}
                        <div class="col-xs-12">
                        {% if post.listLinks.length>0%}
                            {% for link in post.listLinks %}
                            <a href="{{ link.url }}" target="_blank"><img src="{{ link.icon }}" alt="name" class="img-circle" style="background-color:black;padding:6px;"></a>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# 左侧 #}
        <div class="col-md-4 main-container" ms-controller="documentInfo">
            {# 档案 #}
            <div class="row">                
                <h2 class="">档案</h2>
                <article class="">
                    <div class="">
                        {{post.comments | safe}}
                    </div>
                </article>
            </div>
            {# 时间线 #}
            <div class="row">                
                <h2 class="">时间线</h2>
                <div class="">
                    {{post.date}}
                </div>
            </div>
            {# 专辑 #}
            <div class="row bg-primary"><h2 class="">专辑</h2></div>
            {# 视频/MV #}
            <div class="row bg-primary"><h2 class="">视频/MV</h2></div>
            {# 周边 #}
            <div class="row bg-primary"><h2 class="">周边</h2></div>
            {# 演出动态 #}
            <div class="row bg-primary"><h2 class="">演出/动态</h2></div>

            {# 精选单曲 #}
            {% if post.listHotMusics.length>0%}
            <div class="row">
                <h2 class="">精选单曲</h2>
                {% for link in post.listHotMusics %}
                <div class="">
                    <span class="col-xs-12 col-md-8" >{{ link.name }}</span>
                    <span class="glyphicon glyphicon-play"  aria-hidden="true" style="margin: 5px;width: 48px;height: 48px;" id="bn-{{ link.url }}"><audio id="audio-{{ link.url }}"><source src="{{ link.url }}"></audio></span>
                </div>
                {% endfor %}                        

            </div>
            {% endif %}              
        </div>
    </div>
</div>
{% endblock %}