{% extends "../default.html" %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="column-wrap">
                <h1 alt="{{site.altkey}}{{cateInfo.name}}">{{cateInfo.name}}——唱片</h1>
            </div>
            {% include "./listTempTimeline.html" %}

            {% include "../public/pagination.html" %}
        </div>

    </div>
</div>


{% endblock %}


{% block navAvatar %}
    <div class="col-auto">
        {{navAvatar(listAvatars,128)}}
    </div>
{% endblock %}