{% extends "../default.html" %} 
{% from "../public/compNavAvatar.html" import navAvatar %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 main-container">
            <div class="row">
                <div class="col-md-10 left-frame">
                    <div class="column-wrap">
                        <h1 alt="{{site.altkey}}{{cateInfo.name}}">{{cateInfo.name}}——唱片</h1>
                        <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            Popover on left
                        </button>
                    </div>
                    <div class="post-list row">
                        {% for year, yearItems in posts|groupby("dateYear") %}
                            <h1>{{year}}</h1>
                            {% for date, dateItems in yearItems|groupby("dateTimeline") %}
                            <div class="row py-4 ">
                                <div class="col-sm-2 col-xs-3 pt-3 text-nowrap"><h3>{{date}}</h3></div>
                                <div class="col-10">
                                    <div class="row">
                                        {% for item in dateItems %}
                                        <div class="col-md-{{item.widthTemp}} border border-dark m-3 ">
                                            {% include "../public/"+item.strCate+"Item.html" %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% include "../public/pagination.html" %}
                </div>
                <div class="col-2">
                    {{navAvatar(listAvatars,128)}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}