{% from "../public/compListTags.html" import tag as domTag %}
{% from "../public/compListTags.html" import listTags as listTags %}
{% from "../public/compListTags.html" import listArtists %}
<link rel="stylesheet" href="/static/themes/dorawhite/css/detail.css">
<div class="detail font-normal" data-bs-main="{{post.docAlias}}">
    {# 图 #}
    <div class="album">
        <img src="{{post.sImg}}" alt="{{image.name}}"/>
    </div>

    <div class="date">{{post.dateFull}}</div>
    {# 乐队名 #}
    <div class="name">{{post.name}}</div>
    {# 标签 #}
    {{ listTags(post.tags) }}
    {# 介绍 #}
    <article class="">
        {{post.comments | safe}}
    </article>
</div>