{% extends "../public/footer.html" %} 
{% block footerUp %}
    <div class="container-fluid  main-container position-relative d-inline-block">
        <div class="row" id="scrollbarTimeLine" style="overflow:visible;height:0px;width:100vw;">
            <div class="" style="width:10px;height:60px;background-color:gray;opacity: 0.4;"></div>
        </div>

        <div class="row">            
            {{timelineBar(objTimeline)}}
        </div>
        <div class="row"></div>

    </div>
{% endblock%}