logs/
npm-debug.log
node_modules/
coverage/
.idea/
.github/
run/
.DS_Store
*.swp
# *.vscode
package-lock.json
# app/public/upload

app/ext
app/controller/ext
dist/*
app/public/upload

.github
.config/fish/fish_variables
.local/share/fish/fish_history
.npm
.npminstall_tarball
.config
.ash_history
.local
/report.*.json
# 缓存
app/public/cache/**
backstage/record/dist
backstage/record/dist/**
app/public/cache
