#coverArtistsWrapper{
    /* display:flex; */
    /* flex-direction: column; */
    
    overflow: hidden;
    max-height:100%;
    /* height:100%; */
    flex:1 1 100%;
}
#coverArtistsWrapper.paddingTop{
    /* flex:1 1 75vh; */
    /* min-height:75vh; */
    /* width:100vw; */
    padding-top: 21px;
    padding-bottom:7vh;
    padding-bottom: calc(var(--vh, 1vh) * 7);
}
/* 横滚，满高 */
#coverArtistsWrapper .bs-content-listArtist{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding:0px;
    writing-mode: vertical-lr;
    max-width:none;
    width:auto;
    overflow: visible;
    /* flex:1 1 100%; */
    height:calc(max(100%,1.5rem*12));
    max-height:100%;
    min-height:calc(1.5rem*12);
}
.listArtists .artist{
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width:78.26vw;
    width:78.26vw;
    writing-mode: horizontal-tb;
    /* flex:1 0 32.4vw; */
    /* padding-bottom: 8px; */
    /* height:calc(100%/12); */
    /* height:calc(min(1.8rem,(100%/12))); */
    /* height:1.8rem; */
    flex:0 0 1.5rem;
    
    min-height:1.2rem;
    max-height:1.8rem;
    height: fit-content;
}
/*
#coverArtistsWrapper .artist .fixed{
    position: fixed;
    bottom: calc(100% + 0.3rem);
    z-index: 9;
    pointer-events: none;
    overflow:visible;
}
#coverArtistsWrapper .artist .sImg{
    position: relative;  
    display:block;
    min-width: 390px;
    max-width:32.4vw;
    transform:translateY(-100%);
}
#coverArtistsWrapper .artist .sImg img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height:auto;
    max-height:100%;
    opacity: 0;
    transition-property: opacity,transform;
    transition-duration: 0.5s;
    transform: translateY(10%);

}
#coverArtistsWrapper .artist .sImg.verticle img{
    height:100%;
    width:auto;
}
#coverArtistsWrapper .artist .sImg img.loaded{
    opacity: 1;
    transform: translateY(0%);
}

#coverArtistsWrapper .artist .sImg::after{
    content:"";
    display:block;
    padding-bottom: calc(9 * 100% / 16);
    height:0px;
}
#coverArtistsWrapper .artist .sImg.verticle::after{
    padding-bottom: calc(3 * 100% / 2);
}
*/
.tooltip.sImg .tooltip-inner{
    pointer-events: none;
    position: relative;  
    display:block;
    min-width: 390px;
    width: max(390px,32.4vw);
    max-width:32.4vw;
    text-align: left;
    border:none;
    background-color: black;
}
.tooltip.sImg .tooltip-inner::after{
    content:"";
    display:block;
    padding-bottom: calc(9 * 100% / 16);
    height:0px;
}
.tooltip.sImg .tooltip-inner img{
    position: absolute;/*跳出文档，不会扩wrapper*/
    object-fit: cover;
    width: 100%;
    height:auto;
    max-height:100%;
}
.tooltip.sImg.verticle .tooltip-inner::after{
    padding-bottom: calc(3 * 100% / 2);
}
.tooltip.sImg.verticle .tooltip-inner img{
    height:100%;
    width:auto;
    max-width: 100%;
    object-fit: contain;
}
.listArtists .artist .btn:active, 
.listArtists .artist .btn:focus, 
.listArtists .artist .btn:active:focus, 
.listArtists .artist .btn.active:focus,
.listArtists .artist .btn.focus, 
.listArtists .artist .btn:active.focus, 
.listArtists .artist .btn.active.focus {
	outline: none;
    /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
    box-shadow: none;
}
.listArtists .artist button.name{
    text-align: left;
    padding: 0;
    -webkit-appearance: none;
}
.listArtists .artist .name{
    
    /* font-size: 0.693rem; */
    font-size: 1rem;
    /* line-height: 0.8rem; */
    /* line-height: 1.15rem; */
    /* color: rgba(0, 0, 0, 1); */
    color: inherit;
    text-decoration: underline;
    line-height: 1rem;
}
.listArtists .artist .name:not(:hover) {
    text-decoration: none;
}
.listArtists .noticeCnt{
    /* font-size:0.373rem; */
    /* font-size: 0.426rem; */
    font-size: 0.48rem;
    /* width:0.694rem; */
    width: 1rem;
    /* height:0.694rem; */
    height: 1rem;
    margin-left: 1rem;
    /* line-height: 0.48rem; */
    line-height: 1rem;

    align-items: center;
    background-color: white;
    color:black;
    -webkit-appearance:none;
}
.listArtists .noticeCnt.now{
    filter: invert(100%);
}
.tooltip{
    /* filter: invert(100%); */
    /* padding:.4rem .4rem; */
    /* border: 1px solid red; */
    /* padding-right: .4rem;     */
}
.tooltip.show{
    opacity: 1;
}
.tooltip .tooltip-arrow{
    display: none;
}
.tooltip .tooltip-inner{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    border-bottom: none;
    background-color: white;
    border-radius: 0px;
    padding:0;
    color:black;
    font-size: 0.85rem;
    writing-mode: horizontal-tb;
    /* max-width:13.85rem; */
    max-width:13rem;
    width:auto;
    min-width:10rem;
}
.tooltip .tooltip-inner div{
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    border-bottom:1px solid black;
    padding:0.42rem;
    
}
.tooltip .tooltip-inner div::before{
    content:"";
    flex: 0 0 20px;
    height:20px;
    margin-right: 0.47rem;
    transform: rotate(-90deg);
    background:url('/static/themes/images/bnArrowLine.svg') no-repeat center /20px 20px;/*兼容没测*/
}

@media (min-width: 768px) {
    /* 与导航的间距 */
    #coverArtistsWrapper.paddingTop-md{
        padding-top: 15px;
    }
    .listArtists .artist-md{
        /* height:calc(100%/15); */
        /* PC宽415+52 */
        min-width:32.4vw;
        max-width:32.4vw;
        /* width:32.4vw; */
        /* padding-bottom: 6px; */
        height:1.2rem;
        height: fit-content;
        margin-right: 1rem;
        flex: 0 0 1.5rem;
        min-height: fit-content;
        max-height: none;
        padding-bottom: 0.5rem;

    }
    body .tooltip .tooltip-inner{
        max-width: 20rem;
        font-size: calc(24 * 1rem /36);
        min-width: 10rem;
    }
}