/* :root{
    font-size: 37.5px;
} */

html {
    font-size: 162.5%;/*292.5%;*/
    font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma,Arial, PingFang SC-Light, Microsoft YaHei;
}

body * {
    box-sizing: border-box;
    
}

 


.bs-wrapper-cover{
    margin-left: 1.04rem;
    overflow:hidden;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 225%!important;
    }
}

#navHeader{
    width: 100%;
}

#mainCover{
    height:0px;
    z-index:100;
    position: relative;
    overflow: visible;

    width: 100%;
    /* padding-right: var(--bs-gutter-x,.75rem); */
    /* padding-left: var(--bs-gutter-x,.75rem); */
    margin-right: auto;
    margin-left: auto;
}
#mainCover .bs-wrapper-cover{
    /* display:flex; */
    /* flex-direction: column; */
}
#mainCover .bs-wrapper-cover .bs-content-cover{
    /* display:flex; */
    /* flex-direction: column; */
    min-height: 100%;
    flex:1 1 100%;
    
}



/* body 用Flex方式全屏使用 */
body.flex{
    /* 
    font-size:16px;
    font-size:1.2rem ;
    */
/*  */
    background-color: bisque;
    display:flex;
    flex-direction: column;

    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    justify-content: stretch;
    align-items: flex-start;
    /* overflow: hidden; */
    
} 
body.flex #navHeader{
    order:1;
}
body.flex #mainCover.paddingCoverTop{
    /* order:2; */
    /* width:100%; */
    /* height:46px; */
    /* flex:0 0 46px; */
    padding-top:46px;
}
@media only screen and (min-width: 768px) {
    body.flex #mainCover.paddingCoverTop-md{
        /* height:74px; */
        /* flex:0 0 74px; */
        padding-top:74px;
    }
}
body.flex #mainCover{
    /* position: relative; */
    background-color:rgb(204, 164, 89);
    order:20;
    flex:1 1 100%;
}
/* 隐藏占位 */
body.flex #mainCover div.w-100.heightNav{
    display:none;
}
body.flex #mainCover div.bs-wrapper-cover.heightMain{
    height:100%;
}
body.flex #dr-footer{
    /*  */
    position:inherit!important;
    bottom:inherit!important;
    order:30;
    flex:0 0 15px;
    /* flex:0 0 193.2px; */
}