.detail.font-normal{
    font-size:calc(14 * 1rem / 26);
    line-height: 0.917rem;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
    font-weight: 400;
    color:black;
}
.detail{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.detail .album{
    width:auto;
    width:max-content;
    width: min(20rem,31.25vw);
    max-width: 100%;
    margin-bottom: calc(56 * 1rem / 26);
}
.detail .album img{
    display:block;
    object-fit:cover;
    /* 手机竖屏高充满，宽自动 */
    min-width:auto;
    width: 100%;
    max-width:100%;
    height:100%;
    max-height: 100%;
    cursor:zoom-in;
}
.detail .date,
.detail .name{
    font-size: 1rem;
    line-height: calc(32 * 1rem / 26);
}
.detail .name{
    margin-bottom: 1rem;
}
.detail .headEnd{
    flex:0 0 3rem;
    border-bottom: 1px solid #FDFDFD;
    width: 100%;
}

.detail .list-inline,
.detail .list-inline{
    margin-bottom: 1rem;
}
.detail .list-inline li.border,
.detail .list-inline li.border{
    border: 1px solid #000!important;
}
.detail span,
.detail p,
.detail iframe,
.detail article{
    max-width: 100%;
    line-height: 1rem;
    word-break: break-word;
}
.detail article img{
    max-width: 100%;
    object-fit: contain;
    max-width: min(25rem , 80%);
    width: auto;
}
.detail .list{
    /* # 行间距，列间距都设为1rem */
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* # 三列，并三等分，用fr做单位，不会产生横向的滚动条 */
    grid-auto-rows:0px;
    /* # 自动改变div高度 */

    transition-property: max-height;
    transition-duration: .5s;
    overflow: hidden;
}
.detail .list.showAll{
    grid-auto-rows:minmax(1rem,auto);
}
.detail .list .item{
    overflow: hidden;
}
.detail .more{
    width:calc(180 * 1rem / 36);
    height:calc(60 * 1rem / 36);
    border: 1px solid #FDFDFD;
    border-radius: calc(60 * 1rem / 36 / 2);
    margin-top: calc(44 * 1rem / 36);
    margin-bottom: calc(44 * 1rem / 36);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}
.detail .relative::before{
    content:"相关文档";
    width:100%;
    flex:1;
    display:flex;
    align-items: flex-start;
    margin-top:1.528rem;
    margin-bottom:1.528rem;
}
.detail .relative.list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-auto-rows: 0px;
    grid-auto-rows: auto;
    transition-property: max-height;
    transition-duration: .5s;
    overflow: hidden;
    width: 100%;
}
.detail .relative.list .item{
    color:inherit;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1.277rem;
    margin-bottom: .5rem;
    cursor: pointer;
}
.detail .relative.list .item::before{
    content: "";
    background: url(/static/upload/images/icons/arrow-down.svg) center/0.55rem auto no-repeat;
    height: 0.55rem;
    margin-right: 0.55rem;
    flex: 0 0 0.55rem;
    display: flex;
    transform: rotate(-90deg);
    /* filter: invert(1); */
}
@media (min-width: 768px) {
    .detail article{
        max-width: 80%;
    }
    .detail article img{
        width: 100%;
        width:auto;
    }
    .detail.font-normal{
        font-size:calc(24 * 1rem / 36);
        line-height: calc(33 * 1rem / 36);
    }
}
/* artistDetail */
.detail.artist.font-normal{
    color:white;
}
.detail.artist{
    background-color: inherit;
    background-color: black;
}
.detail.artist .name{
    flex: 0 0 3rem;    
    display:flex;
    align-items: flex-start;
}
.detail.artist .name{
    position: fixed;
    right: 1rem;
    top: 1rem;
    font-size: 1rem;
}
.detail.artist .album{
    flex:0 0 195px;
    max-height:450px;
    height:195px;

    flex:0 0 300px;
    max-height:450px;
    height:300px;
    margin-bottom:0px;

    width:100%;
    display:flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: visible;
    overflow-y: hidden;
    /* overflow: visible; */
}
/* scroll-snap测试 */
.detail.artist .album.scrollerSnap{
    display:flex;
    flex-wrap: nowrap;
    /* width: calc(100% + var(--offsetcanvas-padding-right,0.77rem)); */
    width: 100vw;
    max-width: unset;
    /* height: 100%; */
    /* position:absolute; */
    left: calc(-1 * var(--offsetcanvas-padding,0.77rem));
    overflow-x:auto;
    overflow-x: overlay; 
    overflow-y:hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.detail.artist .album.scrollerSnap.mouseDragging,
.detail.artist .album.scrollerSnap.mouseDragging>*{
    cursor:grabbing;
    user-select: none;
}
.detail.artist .album.scrollerSnap:not(.mouseDragging){
    cursor:grab;
}
/* scrollsnap用 */
.detail.artist .album img{
    scroll-snap-align: center;
    scroll-snap-stop: normal;
    /* scroll-margin-left: 20px; */
    margin:0 0rem;
    background-color: inherit;/* #222222a8; */
    flex: 0 0 min(800px,100%,calc( var(--offsetcanvas-right) - var(--offsetcanvas-padding) - var(--offsetcanvas-padding-right,0.77rem) - 1rem));
    flex: auto;
}
.detail.artist .album img{
    /* 手机竖屏高充满，宽自动 */
    width: auto;
    max-width:calc( var(--offsetcanvas-right) - var(--offsetcanvas-padding-right,0.77rem) - var(--offsetcanvas-padding) - 1rem);
}
/* 标签 */
.detail.artist .list-inline{
    line-height: 0px;
    margin-top: 1.28rem;
    margin-bottom:1.75rem;
}
.detail.artist .list-inline li{
    border: 1px solid #FDFDFD!important;
    margin-bottom: 0.25rem;
}
.detail.artist article{
    max-width: calc( 100% - 20px);
    align-self: center;
}


.detail.artist article p{
    margin-block: 0px;
    margin-bottom: 0rem;
}
.detail.artist ol{
    margin-top:1.444rem;
    /* margin-bottom:5.667rem; */

    font-size: var(--font-size-tiny);
    /* font-family: PingFangSC-Regular, PingFang SC; */
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
    font-weight: 400;
    color: #979797;
    line-height: 0.694rem;
    /* text-decoration: underline; */
    -webkit-background-clip: text;
}
.detail.artist .relative.list .item::before{
    filter: invert(1);
}
#offcanvasDetail .nav{
    font-size: calc(18 * 1rem / 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2000;
    bottom:0px;
    left: 0px;

    width: 100vw;

    transition: transform;
    transition-duration: 1s;
    transform:translateY(3rem);
}
#offcanvasDetail .nav.show{
    transform:translateY(0);
}
#offcanvasDetail .nav ul::before,
#offcanvasDetail .nav ul::after{
    content:"";
    display:block;
    flex: 0 1 1rem;
    min-width:0.375rem;
}
#offcanvasDetail .nav ul{
    position: relative;

    bottom:7px;/* var(--offsetcanvas-padding, 0.77rem);  */  

    display:flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
    max-width:calc(100% - 14px );
    height:calc(45 * 1rem / 26);
    border-radius: 5rem;
    border:1px solid white;
    background-color: black;
    opacity: .8;

}
#offcanvasDetail .nav li{
    /* flex: 1 1 calc(59 * 1rem / 26); */
    min-width:calc(59 * 1rem / 26);
    white-space: nowrap;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
}
#offcanvasDetail .nav .backTop{
    background-image: url("/static/themes/images/bnArrowDetail.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 38px 38px;
    background-size: 38px 38px;
    position:absolute;
    z-index: 1999;
    bottom: 0;
    right:0px;

    width:38px;
    height:38px;
    border-radius: 50%;
    border:1px solid white;
    background-color: inherit;
    cursor: pointer;
    transition: bottom,right;
    transition-duration: 2s;
    /* transform:translateY(3rem); */
}
#offcanvasDetail .nav.show .backTop{
    bottom: calc(100% + 16px);
}
#offcanvasDetail .nav.artist{
    /* background-color: black; */
}
/* 试听 */
#offcanvasDetail .nav ul li.player{
    min-width:1.5rem;
}
#offcanvasDetail .nav.artist .playList{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 0px;
    background-color: inherit;
    
    width: 100vw;    
    margin-top:16px;
    transition: max-height;
    transition-duration: 1s;
    max-height:0px;
    overflow: hidden;
}
#offcanvasDetail .nav.artist.show .playList.fa-pause{
    max-height:100vh;
}
#offcanvasDetail .nav.artist.show .playList.fa-pause::before,
#offcanvasDetail .nav.artist.show .playList.fa-play::before{
    content:"";
    width: 100%;
    border-top: 2px solid white;
}
#offcanvasDetail .nav.artist.show .playList ul{
    flex-direction: column;
    border:none;
    border-radius: 0px;
    top: 0;
    height:auto;
    max-width: none;
}
#offcanvasDetail .nav.artist.show .playList  ul::before,
#offcanvasDetail .nav.artist.show .playList  ul::after{
    display:none;
}
#offcanvasDetail .nav.artist.show .playList ul li{
    display: flex;
    justify-content: flex-start;
    border-bottom:1px solid #CDCDCD;
    width:100%;
    height:calc(45 * 1rem / 26);
}
#offcanvasDetail .nav.artist.show .playList ul li::before,
#offcanvasDetail .nav.artist.show .playList ul li::after{
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    flex: 0 1 50px;
    height: 100%;
    /* filter: invert(1); */
    justify-content: center;
    align-items: center;
    display: flex;
}

/* 歌曲 */
#offcanvasDetail .nav.artist.show .playList ul li span{
    height: 100%;
    flex:1;
    display: flex;
    align-items: center;
}
#offcanvasDetail .nav.artist.show .playList ul li span.now::before{
    content:"";
    border-left:solid 1px white;
    transform:translateX(0px);
    flex: 0 0 2rem;
    height: 100%;
}
#offcanvasDetail .nav.artist.show .playList ul li span::after{
    content:attr(data-current-time);
    margin-left:1rem;
}
@media (min-width: 768px) {
    .detail.artist .name{
        position: relative;
        top: auto;
        right: auto;
        font-size: 1rem;
    }
    
    .detail.artist article{
        max-width: calc( 100% - 2rem);
        align-self: flex-start;
    }
    .detail.artist .headEnd{
        flex:0 0 5.667rem;
    }
    .detail.artist .album{
        flex:0 0 450px;
        height:450px;
    
    }
    .detail.artist .album.scrollerSnap{
        left: 0;
        max-width: initial;
        width:var(--offsetcanvas-right);
    }
    .detail.artist .album img{
        scroll-snap-align: start;
        object-fit:contain;
        /* width: 100%; */
        flex: 0 0 min(800px,100%,calc( var(--offsetcanvas-right) - var(--offsetcanvas-padding) - var(--offsetcanvas-padding-right,0.77rem) - 1rem));

        height:auto;
    }    
    #offcanvasDetail .nav{
        font-size: 0.5rem;
        bottom:var(--offsetcanvas-padding, 0.77rem);
        width:auto;
        /* right: var(--offsetcanvas-padding-right); */
        right: var(--offsetcanvas-padding);
        left: auto;
        align-items: flex-start;
        max-width:calc(0.5rem + 100% - var(--offsetcanvas-padding, 0.77rem) - var(--offsetcanvas-padding-right, 0.77rem) );
    }
    #offcanvasDetail .nav .backTop{
        display: none;
    }
    #offcanvasDetail .nav li{
        /* flex: 1 1 calc((37 + 57) * 1rem / 26); */
        min-width:calc((37 + 57) * 1rem / 26);
    }    
}

.detail.artist .block{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
}
.detail.artist .block.title::before{
    content:"专辑";
    width:100%;
    flex:1;
    display:flex;
    align-items: flex-start;
    margin-top:1.528rem;
    margin-bottom:1.528rem;
}
.detail.artist .block.title.records::before{
    content:"专辑";
}
.detail.artist .records .list{
    width:100%;
    grid-template-rows: repeat(var(--cnt-item,4),1fr);
}
.detail.artist .records .list .item{
    /* flex:0 1 calc(50% - 2.94%); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    border: 1px solid #979797;
    margin-bottom: 3.47vw;
    cursor: pointer;
    position: relative;
}
.detail.artist .records .list .item::after{
    content:"";
    display:block;
    padding-bottom:100%;
    height:0px;
}
.detail.artist .records .list .item img{
    object-fit:cover;
    width: 100%;
    height:100%;
    position:absolute;
}
/* 专辑介绍hover */
.detail.artist .records .list .item .intro{
    width: 100%;
    height:auto;
    /* hover标题文字 */
    color: white;
    font-size: calc(32 * 1rem / 36);
    background-color: #000000;
    opacity: .0;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    /* flex: 0 0 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding-bottom: calc(41 * 100% / 403); */
    padding-left: 6%;
    padding-right: 6%;
    transition-property: opacity;
    transition-duration: .5s;
}

.detail.artist .records .list .item .intro:hover {
    opacity: .8;
}
.detail.artist .records .list .item .tags.records{
    display:flex;
}
.detail.artist .records .list .item .tags.records .list-inline{
    margin-top: auto;
}
.detail.artist .records .list .item .tags.records .list-inline-item{
    border:1px solid white!important;
    border-radius: 0px!important;
}

.detail.artist .block.title.videos::before{
    content:"影像";
}

.detail.artist .videos .list{
    width:79.8%;
    grid-template-rows: repeat(var(--cnt-item,3),1fr);
}
.detail.artist .videos .list .item{
    background: rgba(0, 0, 0, 0.75);
    margin-bottom:0.833rem;
    cursor: pointer;
    color: inherit;
}
.detail.artist .videos .list .item img{
    object-fit:cover;
    width: 100%;
    height:auto;
    /* max-height: 400px; */
}

/* 新闻动态 */
.detail.artist .block.title.news::before{
    content:"时间线";
}

.detail.artist .news .list{
    grid-template-rows: repeat(var(--cnt-item,4),1fr);

}
.detail.artist .news .list .year{
    
}
#offcanvasDetailAll.artists  loading line{
    /* filter: invert(1); */
    stroke:var(--color-bg-white);
}
.detail.artist.error .bnBack{
    border: 1px solid #FDFDFD;
}
.detail .news .list .item{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1.277rem;
    margin-bottom: .5rem;
}
.detail .news .list .item::before{
    content:"";
    background: url("/static/upload/images/icons/arrow-down.svg") center/0.55rem auto no-repeat ;
    height: 0.55rem;
    margin-right: 0.55rem;
    flex: 0 0 0.55rem;
    display: flex;
    transform: rotate(-90deg);
    filter: invert(1);
}
.detail .news .list a{
    color:white;
    cursor: pointer;
}
/* 周边 */
.detail.artist .block.title.goods::before{
    content:"周边";
}
.detail.artist .goods .list{
    width:100%;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap:1px;
}
.detail.artist .goods .list .item{
    /* flex:0 1 calc(50% - 2.94%); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    border: 1px solid #000000;
    cursor: pointer;
    position: relative;
}
.detail.artist .goods .list .item::after{
    content:"";
    display:block;
    padding-bottom:100%;
    height:0px;
}
.detail.artist .goods .list .item img{
    object-fit:cover;
    width: 100%;
    height:100%;
    position:absolute;
    /* max-height: 400px; */
}
.detail.artist .goods .list .item .intro{
    width: 100%;
    height:auto;
    /* hover标题文字 */
    color: white;
    font-size: calc(32 * 1rem / 36);
    background-color: #000000;
    opacity: .0;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    /* flex: 0 0 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding-bottom: calc(41 * 100% / 403); */
    padding-left: 6%;
    padding-right: 6%;
    transition-property: opacity;
    transition-duration: .5s;
}

.detail.artist .goods .list .item .intro:hover {
    opacity: .8;
}
/* 最后为了避开nav重叠 */
.detail.artist .headEnd.fa-pause{
    flex-basis:12rem;
}
.detail.artist .headEnd.fa-play::before,
.detail.artist .headEnd.fa-pause::before{
    content:none;
}
@media (min-width: 768px) {
    .detail.artist .records .list{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap:3.47vw;
    }  
    .detail.artist .goods .list{
        width:100%;
        grid-template-columns:1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
    }
    
}

/* 专辑和周边详情 */
.detail.show,
.detail.record,
.detail.good{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.detail.show .head,
.detail.record .head,
.detail.good .head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* flex: 0 1 560px; */
    flex: 1 1 60%;
    margin-bottom: calc(42 * 1rem / 26);
    align-self: center;
}
    .detail.show .head .album,
    .detail.record .head .album,
    .detail.good .head .album{
        position: relative;
        width: 83.33vw;
        overflow: hidden;
        cursor: pointer;
        background-color: var(--color-placeholder,#aaa);
        margin-bottom: 0px;
    }
    .detail.show .head .album::after,
    .detail.record .head .album::after,
    .detail.good .head .album::after{
        content:"";
        display:block;
        padding-bottom:100%;
        height:0px;
    }
    .detail.show .head .album img,
    .detail.record .head .album img,
    .detail.good .head .album img{
        /* width:83.33vw; */
        width: 100%;
        height:100%;
        position: absolute;  
    }
    /* 链接和编号 */
    .detail.show .head .link,
    .detail.record .head .link,
    .detail.good .head .link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 83.33vw;        
        margin-top: 1rem;
    }
    .detail.show .head .link .location,
    .detail.record .head .link .catalog,
    .detail.good .head .link .catalog{
        border:1px solid black;
        padding: 5px 10px;
    }
    .detail.good .head .link .catalog{
        visibility: hidden;
    }
    .detail.show .head .link .url,
    .detail.record .head .link .url,
    .detail.good .head .link .url{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
.detail.show .info,
.detail.record .info,
.detail.good .info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;

    flex: 1 1 40%;
}
    /* 乐队名称&标题 */
    .detail.show .info .name .list-inline.artists,
    .detail.good .info .name .list-inline.artists,
    .detail.record .info .name .list-inline.artists{
        font-size: calc(14 * 1rem / 26);
        line-height: 0.917rem;
    }
    .detail .formatTags{
        display:none;
    }
    .detail.show .listDateDur,
    .detail.record .formatTags{
        display:flex;
        margin-bottom: 0px;
    }
    .detail.show .listDateDur::before,
    .detail.record .formatTags::before{
        content:"发行方式：";
    }
    .detail.show .listDateDur .breadcrumb-item::before,
    .detail.record .formatTags .breadcrumb-item::before{
        color:inherit;
    }
    .detail.show .listDateDur,
    .detail.record .formatTags,
    .detail.good .date,
    .detail.record .date{
        font-size:calc(14 * 1rem / 26);
        line-height: 0.917rem;
    }
    .detail.good .date::before,
    .detail.record .date::before{
        content:"发行时间：";
    }
    .detail.show .listDateDur::before{
        content:"时间：";
    }
.detail.show .headEnd,
.detail.good .headEnd,
.detail.record .headEnd{
    /* flex:0 0 3rem; */
    border-bottom: 1px solid #000;
    width: 100%;
    flex: 0 0 100%;
    margin: calc(32 * 1rem / 26) 0px;
}


@media (min-width: 1024px) {
    .detail.show .head .album,
    .detail.record .head .album,
    .detail.good .head .album{
        width:39vw;
        min-width:560px;
    }
    .detail.show .head .link,
    .detail.record .head .link,
    .detail.good .head .link{
        width:39vw;
        min-width:560px;
    }
    .detail.show .info,
    .detail.record .info,
    .detail.good .info{
        order:-1;
    }
    .detail.show .listDateDur,
    .detail.record .formatTags,
    .detail.good .date,
    .detail.record .date{
        font-size:calc(24 * 1rem / 36);
        line-height: 0.917rem;
    }
    .detail.show article,
    .detail.record article,
    .detail.good article{
        max-width: calc( 75% - 20px);
    }
    .detail.show article img,
    .detail.record article img,
    .detail.good article img{
        margin-bottom: 1rem;
    }
}

/* 视频播放页 */
.detail.video video{
    width:100%;
    max-width: 100%;
}
.detail.video article{
    white-space: break-spaces;
    white-space: pre-line;
}