#dr-footer{
    z-index:1000;
    background-color: transparent!important;
    width: 100%!important;
    /*  */
    position: absolute;
    bottom: 0;
}
/* 测试用：悬浮按钮 */
.foot-float.bnTest{
    background-color: #fff;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 1001;
    right:0.534rem;
    top:60vh;
    display:flex;
    justify-content: center;
    align-items: center;

    box-shadow: none;
    border: none;
    overflow: visible;
}
.foot-float.back-to-top{
    z-index: 1001;
    width: min-content;
    height: min-content;
    right:0.534rem;
    top:50vh;
    display:flex;
    justify-content: center;
    align-items: center;

    box-shadow: none;
    border: none;
    overflow: visible;
}
.foot-float .btnRubyEyes{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background: url(/static/upload/images/defaultlogo.png) center/1.752rem auto no-repeat ;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
#svgTimelineBar{
    width:82.3%;
}
.timelineBarOpen{
    transition-property: all;
    transition-duration: 0.5s;
    height:105px;
}
.timelineBarClose{
    transition-property: all;
    transition-duration: 0.5s;
    height:15px;
}
@media (min-width: 768px) {
    .foot-float .btnRubyEyes-md{
        width: 2rem;
        height: 2rem;
        background: url(/static/upload/images/defaultlogo.png) center/1.5rem auto no-repeat ;
    }
}