#dr-footer{
    position: absolute;
    bottom: 0;
    /* 以上是flex版之前的 */
    transition-property: all;
    transition-duration: 0.5s;

    overflow: visible;
    z-index:1000;
    
    width:calc(var(--vh, 1vh) * 100)!important;

    height:0px;
    max-height: var(--footer-size-mobile,16px);

    position: relative;
    /* bottom: unset!important; */
    /* top: calc(15px - 100vh); */
    /* top: calc(var(--vh, 1vh) * -100 + var(--footer-size-mobile,16px) + 2px); */
    top: calc(var(--vh, 1vh) * -100);

    /* left: calc(15px); */
    transform: rotate(90deg);
    transform-origin: calc(var(--footer-size-mobile,16px)/2) calc(var(--footer-size-mobile,16px)/2);
}

/* 测试用：悬浮按钮 */
.foot-float.bnTest{
    background-color: #fff;
    position: fixed;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 1001;
    right:0.534rem;
    bottom:1.25rem;
    
    display:flex;
    justify-content: center;
    align-items: center;
    background: url("/static/upload/images/icons/arrow-down.svg") center/1.25rem auto no-repeat ;

    box-shadow: none;
    border: none;
    overflow: visible;
}
.foot-float.back-to-top{
    background-color: #fff;
    position: fixed;
    bottom: 150px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    /* box-shadow: 0 0 6px rgb(0 0 0 / 12%); */
    
    z-index: 1001;
    width: min-content;
    height: min-content;
    right:0.534rem;
    top:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: none;
    overflow: visible;

}
.foot-float .btnRubyEyes{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background: url(/static/upload/images/defaultlogo.png) center/1.752rem auto no-repeat ;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/*@import url("/static/themes/dorawhite/css/timelineBar.css");*/

@media (min-width: 768px) {
    #dr-footer{
        overflow: hidden;
    }
    .foot-float .btnRubyEyes-md{
        width: 2rem;
        height: 2rem;
        background: url(/static/upload/images/defaultlogo.png) center/1.5rem auto no-repeat ;
    }
}