/* 按钮按下时的边框 */
.navbar-toggler:focus {
  box-shadow: 0 0 0 1px;
}
/* logo */
#navHeader{
  padding: 0px;
  z-index:1000;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}
#navHeader .navbar{
    padding-top:0px;
    padding-bottom:0;
    margin-top: var(--header-margin-top,28px);
    max-height:var(--header-btn-height,46px);
}
#navHeader .navbar .navOffsetLeft{
  transition-property: all;
  transition-duration: .3s;
  flex:0 1 calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px));
  min-width: calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px));/*22px;*/
}
#navHeader.listArtist .navbar .navOffsetLeft{
  flex: 1 0 calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) );  
}
#navHeader.listArtist.done .navbar .navOffsetLeft{
  flex:0 1 calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px));
}
#navHeader .navbar-brand{
  display: flex;
  height: 100%;
  flex:0 1 3.7rem;
  /* flex:0 1 calc(163 * 1rem /36); */
  margin-right:0px;
  /* flex:1 0 9.1vw; */
  padding-top: 0rem;
  padding-bottom: 0px;
}
#navHeader .navbar-brand img{
    min-width:98px;
    max-width:131px;
    max-width:163px;
    min-height:30px;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
}
  /* 菜单及搜索关闭 */
  #navHeader #collapseNavbarPC{
    width:auto;
    height:100%;
    flex:1 1 100%;
    margin-right: calc( 20 * 1rem / 36 );
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  /* 移动端，timeline导航菜单 */
  #navHeader #collapseNavbarMobile.navbar-collapse{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition-property: max-height,padding-left,margin-top,flex-basis;    
    transition-duration: .4s;
    transition-property: all;
    flex:0 0 0%;
    max-height: 0rem;
    overflow: hidden;

    /* 左侧缩进 */
    padding-left: calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) );
    padding-right: var(--main-offset-left-mobile,20px);
  }
  #navHeader.listArtist #collapseNavbarMobile.navbar-collapse{
    /* 缩回用all,展开用max-height（ios） */
    /* transition-property: all; */
    flex:0 0 0%;
    flex-basis:0px;
    max-height: 0rem;
    margin-top:0px;
  }
  #navHeader.timeline.done #collapseNavbarMobile.navbar-collapse{
    /* 缩回用all,展开用max-height（ios） */
    /* transition-property: max-height,padding-left,margin-top;     */
    flex:1 1 0%;
    max-height: 1.2rem; /*1.154rem */
    padding-bottom: 1px;
    margin-top: 1rem;
  }  
  #navHeader #collapseNavbarMobile.navbar-collapse ul{
    display: flex;
    justify-content: space-between;
    transition-property: all;
    transition-duration: .6s;
  }
  /* ul上移动画 */
  #navHeader.listArtist #collapseNavbarMobile.navbar-collapse ul{
    -webkit-transform: translateY(-1.15rem);
    transform: translateY(-1.15rem);
  }
  #navHeader.timeline #collapseNavbarMobile.navbar-collapse ul{
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* 子元素最少间距 */
  #navHeader #collapseNavbarMobile.navbar-collapse ul li{
    margin-left: 2.5px;
    margin-right:2.5px;
  }
  #navHeader #collapseNavbarMobile.navbar-collapse ul li:first-child{
    margin-left: 0px;
  }
  #navHeader #collapseNavbarMobile.navbar-collapse ul li:last-child{
    margin-right:0px;
  }

  /*PC移动 通用 navbar-collapse*/
  #navHeader .navbar-collapse ul
  {
    /* max-width: 68.9vw; */
    overflow: hidden;
    display: none;
    flex:1 1 auto;
    width:100%;

    justify-content: flex-end;
    flex-wrap: nowrap;
    /* instead of navbar-nav */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  #navHeader .navbar-collapse ul li 
  {
    justify-content: center;
    display: flex;
    align-items: center;
    height:fit-content;
    /* height: 1.094rem; */
    /* width: 3.04rem; */
    margin: 0.22rem 0.22rem 0 0.22rem;/*上右下左*/

    overflow: hidden;
    background-color: transparent;
    color: black;
    border:1px solid black;
    border:calc(1 * 1rem / 26) black solid;

    cursor:pointer;
  }
  #navHeader .navbar-collapse ul li.now
  {
    background: black;
    color: white;
    text-decoration: none;
    cursor:default;
  }
  #navHeader .navbar-collapse ul li a
  {
    background-color: inherit;
    color: inherit;
    font-size: 0.5rem;
    cursor: inherit;
    text-decoration: inherit;
    margin: 0px;
    padding: 0.131rem 0.616rem;
    line-height: 0.6rem;
  }

  #navHeader .navbar .navOffsetRight{
    -webkit-transition-property: flex-basis,flex-shrink;
    -webkit-transition-duration: .3s;
    transition-property: flex-basis,flex-shrink;
    transition-duration: .3s;
    /* overflow: hidden; */
    /* margin-right:  auto!important; */
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    align-items: center;
    height:100%;
    /* min-width: fit-content; */
    /* width:fit-content; */
    /* 导航按钮用 */
    --size-btn-wrapper: calc( 1rem * 46 / 36);

  }
  #navHeader.listArtist .navbar .navOffsetRight{
    /* flex: 1 0 calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) ); */
    flex-shrink: 0;
    flex-basis: calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) );
  }
  #navHeader.listArtist.done .navbar .navOffsetRight{
    /* flex: 1 1 0; */
    flex-shrink: 1;
    flex-basis: 0;
  }

  /* 移动端:时间轴页，两侧相等，居中logo */
  #navHeader.timeline .navbar .navOffset{
    margin-right: 0px!important;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) );
  }

  /* 手机菜单按钮 */
  #navHeader .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: auto;
    min-width: var(--size-btn-wrapper);
    height:100%;
    min-height: var(--size-btn-wrapper);
    /* max-height: 68px; */
    padding: 0px;
    /* IOS下有默认的按钮渲染方式 */
    /* -webkit-appearance:unset; */
    /* font-size: 1.25rem; */
    /* line-height: 1; */
    /* background-color: transparent; */
    /* border-color: transparent; */
    /* border: 1px solid transparent; */
    /* border-radius: .25rem; */
    /* transition: box-shadow .15s ease-in-out; */
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: auto;
    background-size: auto;
    -webkit-background-size:80%;
    background-size: 80%;
    /* background-size: 0.827rem 0.56rem; */
    /* background-size: calc(46 * 1rem /36); */


  }

  #navHeader .navbar .btnWrapper{
    position: relative;
    /* --size-btn-wrapper:46px; */
    flex:0 1 auto;

    aspect-ratio: 1 / 1;
    width: auto;
    height:100%;
    min-width: var(--size-btn-wrapper);
    min-height:  var(--size-btn-wrapper);
    max-height: var(--size-btn-wrapper);
    overflow: hidden;
    margin-right: var(--header-margin-right,0.5rem)!important;
  }
  #navHeader bn-menu-toggler{
    background: url(/static/upload/images/icons/bnMenu.svg) center no-repeat;
    position: absolute;
    transition-property: top;
    transition-delay: .3s;
  }
  #navHeader.listArtist bn-menu-toggler{
    top:0%;
  }
  #navHeader.timeline bn-menu-toggler{
    top:-100%;
  }
  #navHeader .btn-close{
    position: absolute;
    transition-property: top;
    transition-delay: .3s;
  }
  #navHeader.listArtist .navbar .btn-close{
    top:100%;
  }
  #navHeader.timeline .navbar .btn-close{
    top:0%;
  }

  /* 针对IphoneX注意这里采用的是690px(safe area高度)，不是812px; */
  /* 经过测试：iphoneX 375，635 */
  /* 经过测试：iphone12 pro max 428，926 */
  @media only screen and (min-width: 427px) and (max-width:429px) and (min-height: 635px) and (max-height: 927px){
    #navHeader .navbar .navOffsetRight{
      /* border: 1px solid rebeccapurple; */
    }
    #navHeader .navbar .btnWrapper {
      /* background-color: blueviolet; */
    }
  }
@media (min-width: 768px) {
  /* PC版缩进，保持跟mainCover对齐 */
  #navHeader .navbar .navOffsetLeft-md{
    flex: 0 0 calc(var(--main-offset-left-pc,46px))!important;
    min-width: calc(var(--main-offset-left-pc,46px))!important;
  }
  #navHeader .navbar-brand{
    flex:0 1 calc(163 * 1rem /36);
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .navbar-brand img{
      max-width:163px;
      min-height:var(--header-btn-height,53px)!important;
      width: auto!important;
      min-width: auto!important;
      height: 100%;
      object-fit: contain;
  }
  #navHeader .navbar-collapse ul li 
  {
    border:calc(1 * 1rem / 36) black solid;
  }
  /* #navHeader.timeline .navbar .navOffsetLeft-md */
  /* #navHeader.timeline.done .navbar .navOffsetLeft-md */
  #navHeader.timeline .navbar .navOffsetRight,
  #navHeader .navbar .navOffsetRight{
    flex: 1 1 0;
  }

  /* PC端，乐队列表页隐藏移动端的居中timeline导航菜单 */
  #navHeader #collapseNavbarMobile.navbar-collapse-md{
    display:none!important;
  }
  #navHeader #collapseNavbarPC.navbar-collapse-md ul{
    display: flex;
    margin-right:2rem;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .3s;
    -webkit-transform:translateY(135%);
    transition-property: transform;
    transition-duration: .3s;
    transform:translateY(135%);
  }
  #navHeader.timeline #collapseNavbarPC.navbar-collapse-md ul{
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
  }
  #navHeader.listArtist #collapseNavbarPC.navbar-collapse-md ul{
    -webkit-transform:translateY(135%);
    transform:translateY(135%);
  }
  #navHeader #collapseNavbarPC.navbar-collapse-md ul li{
    margin:0rem calc(4.5 * 1rem / 36) 0rem calc(4.5 * 1rem / 36) ;
    height: calc( 42 * 1rem / 36);
    padding: 0 calc( 5.5 * 1rem / 36 );
  }
  #navHeader .navbar .navbar-collapse.navbar-collapse-md ul li a
  {
    padding: 0.2rem 0.9rem;
    line-height: 0.6rem;
  }
}

/* 菜单打开 */
#offcanvasRightMenu{
  background-color: #000000;
  color: rgba(255, 255, 255, 1);

  width:100vw;
}
#offcanvasRightMenu .offcanvas-header .btn{
  filter: invert(1);
}

  /* 搜索按钮 */
  #offcanvasRightMenu .offcanvas-body .menuItem{
      font-weight: 400;
      font-size: 0.85rem;      
      width: auto;
      align-self: flex-start;
      line-height: 1.27rem;
      margin-bottom: 0.154rem;
      cursor: pointer;
  }
  #offcanvasRightMenu .offcanvas-body .menuFoot{
    /* width: 8.347rem; */    

    /* height: 10vh; */
    max-height:15vh;
    display:flex;
    flex:0 1 3rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.747rem 0 0 0.027rem;
    /* column换行bug */
    writing-mode: vertical-lr;
  }
  #offcanvasRightMenu .offcanvas-body .menuFoot li{  
    font-size: 0.538rem;
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin: 0.08rem 0 0 0.027rem; */
    overflow-wrap: break-word;
    letter-spacing: -0.5799999833106995px;
    line-height: 1rem;
    text-align: left;
    /* column换行bug */
    writing-mode: horizontal-tb;
  }
  #offcanvasRightMenu .offcanvas-body .menuFootCopyright{
    font-size: 0.538rem;

    height: 0.64rem;
    /* overflow-wrap: break-word; */
    word-break: keep-all;
    margin-top: 0.88rem;
    text-align: left;
    line-height: 0.56rem;
    margin-bottom:8px;
  }    

@media (min-width: 768px) {
  #offcanvasRightMenu.offcanvas-end .offcanvas-header {
    margin-bottom:1.333rem;
    justify-content: space-between;
    padding-left: 20px;
  }
  #offcanvasRightMenu.offcanvasRightMenu-md{
    width: 35.42vw;
    min-width:13.6rem;
  }
  #offcanvasRightMenu.offcanvasRightMenu-md .menuItem-md{
    font-size:0.667rem;
    /* height: 1.88vw; */
    line-height: 1rem;
    margin-bottom:0.267rem;
  }

  #offcanvasRightMenu .offcanvas-body .menuFoot li{
    font-size: 0.444rem;
    line-height: 0.8rem;/*0.556rem;*/
  }
  #offcanvasRightMenu .offcanvas-body .menuFootCopyright{
    font-size: 0.444rem;
    margin-bottom:60px;
  }
}
/* 搜索&标签 */
#offcanvasSearch{
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
  width:100vw;
}
#offcanvasSearch .offcanvas-header{
  flex-wrap: wrap;
  align-items: flex-start;
  height: calc( 75px + var(--header-btn-height，53px) );
  margin-bottom: 0px;
}
#offcanvasSearch .offcanvas-header .btn{
  filter:invert(1);
}
  #offcanvasSearch input{
      border:none;
      border-bottom: solid white 1px;
      background-color: transparent;
      color: inherit;
      line-height: 2.5rem;
      font-size: 1rem;
      outline: none;
      position: relative;
      bottom: 0.5rem;
  }
  #offcanvasSearch input:focus{
      border:none;
      border-bottom: solid white 1px;
  }
  #offcanvasSearch .offcanvas-header input{
    display:flex;
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    order: 3;
    /* flex-basis: calc(100% - 2rem); */
  }
  #offcanvasSearch .offcanvas-header bn-search{
    margin-right: calc( 20 * 1rem / 36 );
  }
  
#offcanvasSearch .offcanvas-body{
  font-size: calc(22 * 1rem / 26);
  line-height: calc(29 * 1rem / 26);
  font-weight: 400;
  color:inherit;
}
#offcanvasSearch .offcanvas-body #listSearchResult{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
#offcanvasSearch .offcanvas-body ul li{
  margin-bottom: calc(21 * 1rem / 26);
  display:none;
}
/*
*/
#offcanvasSearch .offcanvas-body #listSearchResult.records li:not(.records),
#offcanvasSearch .offcanvas-body #listSearchResult.videos li:not(.videos),
#offcanvasSearch .offcanvas-body #listSearchResult.goods li:not(.goods),
#offcanvasSearch .offcanvas-body #listSearchResult.artists li:not(.artists),
#offcanvasSearch .offcanvas-body #listSearchResult.shows li:not(.shows),
#offcanvasSearch .offcanvas-body #listSearchResult.news li:not(.news){
  display:none;
}
#offcanvasSearch .offcanvas-body #listSearchResult.records li.records,
#offcanvasSearch .offcanvas-body #listSearchResult.videos li.videos,
#offcanvasSearch .offcanvas-body #listSearchResult.goods li.goods,
#offcanvasSearch .offcanvas-body #listSearchResult.artists li.artists,
#offcanvasSearch .offcanvas-body #listSearchResult.shows li.shows,
#offcanvasSearch .offcanvas-body #listSearchResult.news li.news{
  display:block;
}
#offcanvasSearch .offcanvas-body loading line{
  stroke:var(--color-bg-white);
}

/* 导航 */
#offcanvasSearch .offcanvas-body .nav{
  position: absolute;
  z-index: 2000;
  bottom:0px;/* var(--offsetcanvas-padding, 0.77rem);  */  
  left: 0;
  /* right:0; */
  display:flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items: center;
  /* max-width:calc(100% - var(--offsetcanvas-padding, 0.77rem) - var(--offsetcanvas-padding-right, 0.77rem) ); */
  opacity: .9;
  /* transition: transform; */
  /* transition-duration: 1s; */
  /* transform:translateY(3rem); */
}
#offcanvasSearch .offcanvas-body .nav::before,
#offcanvasSearch .offcanvas-body .nav::after{
  content:"";
  display:block;
  flex: 0 0 1rem;
}
#offcanvasSearch .offcanvas-body .nav li{
  /* flex: 1 1 calc(59 * 1rem / 26); */
  min-width:calc(75 * 1rem / 26);
  height:calc(30 * 1rem / 26);
  white-space: nowrap;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;
  margin-right: 0rem;
  font-size: 0.5rem;

  /* cursor: pointer; */
  /* border-radius: 5rem; */
  /* border:1px solid white; */
}
#offcanvasSearch.loading .offcanvas-body #listSearchResult,
#offcanvasSearch .offcanvas-body loading{
  display:none;
}
#offcanvasSearch.loading .offcanvas-body loading{
  display:flex;
}

#offcanvasSearch .offcanvas-body .nav li.off{
  filter:brightness(0.5);
}
  @media (min-width: 768px) {
    #offcanvasSearch .offcanvas-header input{
      display:flex;
      flex: 1;
      margin-left: 1.5rem;
      order:0;
    }
    #offcanvasSearch .offcanvas-body{
      font-size: calc(32 * 1rem / 36);
      line-height: calc(42 * 1rem / 36);
      padding:1.5rem;
    }
    #offcanvasSearch .offcanvas-body ul li{
      margin-bottom: calc(51 * 1rem / 36);
      cursor: pointer;
    }
    #offcanvasSearch .offcanvas-body .nav::before,
    #offcanvasSearch .offcanvas-body .nav::after{
      flex: 0 0 1.5rem;
    }
    #offcanvasSearch .offcanvas-body .nav li{
      height:calc(40 * 1rem / 36);
      min-width: 120px;
    }
  }