/* 导航样式 */
/* #navHeader .logo{
  
  min-width:98px;
  max-width:131px;
  min-height:30px;
  max-height:40px;
  flex:1 1 9.1vw;
} */
/* 按钮按下时的边框 */
.navbar-toggler:focus {
  box-shadow: 0 0 0 1px;
}
/* logo */
#navHeader{
  padding: 0px;
  z-index:1000;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}
#navHeader .navbar{
    padding-top:0.08rem;
    padding-bottom:0;
}
#navHeader .navbar-brand{
  display: flex;
  height: 100%;
  flex:0 1 3.7rem;
  margin-right:0px;
  /* flex:1 0 9.1vw; */
}
#navHeader .navbar-brand img{
    min-width:98px;
    max-width:131px;
    min-height:30px;
    max-height:40px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
  /* 菜单及搜索关闭 */
  #navHeader #collapseNavbarPC{
    width:auto;
    flex:1 1 100%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  /* 菜单及搜索按钮打开 */
  /*
  #navHeader .navbar-expand-md .navbar-collapse.collapsing{
    width:100%;
  }
  #navHeader .navbar-expand-md .navbar-collapse.show{
    width:100%;
  }  
  */
  /* 移动端，timeline导航菜单 */
  #navHeader #collapseNavbarMobile.navbar-collapse{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition-property: all;
    transition-duration: .3s;
    flex:0 0 0px;
    overflow: hidden;
  }
  #navHeader #collapseNavbarMobile.navbar-collapse:not(.show){
    /* animation: openOut 1s ease .2s 1 normal both; */
    flex:0 0 0px;
    max-height: 0px;
  }
  #navHeader #collapseNavbarMobile.navbar-collapse.show{
    /* display: flex !important;; */
    /* animation: openIn 5s ease 0s 1 normal both; */    
    flex:1;
    max-height: 1.2rem;/* 1.154rem */
  }  
  #navHeader #collapseNavbarMobile.navbar-collapse ul{
    display: flex;
    justify-content: center;
  }
  #navHeader .navbar-collapse ul
  {
    /* max-width: 68.9vw; */
    /* overflow: hidden; */
    display: none;
    flex:1 1 auto;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* instead of navbar-nav */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  #navHeader .navbar-collapse ul li 
  {
    justify-content: center;
    display: flex;
    align-items: center;
    /* height: 1.094rem; */
    /* width: 3.04rem; */
    /* margin-left: 0.134rem; */
    margin: 0.22rem 0 0 0.22rem;
    margin-right:0.278rem;

    
    background-color: transparent;
    color: black;
    border:1px solid black;
  }
  #navHeader .navbar-collapse ul li.now
  {
    background: black;
    color: white;
  }
  #navHeader .navbar-collapse ul li a
  {
    font-size: 0.5rem;

    margin: 0px;
    padding: 0.131rem 0.616rem;
    line-height: 0.6rem;
  }
  #navHeader .navbar-collapse .input-group .input-group-text
  {
    font-size: 0.5rem;
    padding: 0.7rem;
    border: none;
    background-color: transparent;
  }
 
  /* 手机菜单按钮 */
  #navHeader .navbar-toggler{
    display: flex;
    align-items: center;
    border-color: transparent;
    height:100%;
  }
  #navHeader .navbar-toggler .navbar-toggler-icon{
    width: 0.827rem;
    height: 0.56rem;
  }
  #navHeader .navbar .navOffsetLeft{
    transition-property: all;
    transition-duration: .3s;
    flex:0 1 46px;
    min-width: 22px;
  }
  #navHeader .navbar .navOffsetRight{
    transition-property: all;
    transition-duration: .3s;
    /* overflow: hidden; */
    /* margin-right:  auto!important; */
    flex: 1 1 auto!important;
    justify-content: center;
  }

  #navHeader .navbar .navOffsetRight .btn-close{

  }
  #navHeader .navbar .navOffsetRight .btn-close.show{
    /* @keyframes name | duration | easing-function | delay |
    iteration-count | direction | fill-mode | play-state |  */
    animation:rollIn .3s ease 0s 1 normal both; 
  }
  #navHeader .navbar .navOffsetRight .btn-close:not(.show){
    /* @keyframes name | duration | easing-function | delay |
    iteration-count | direction | fill-mode | play-state |  */
    animation:rollOut .3s ease 0s 1 normal both; 
  }

  #navHeader .navbar .navTimelineaAround{
    margin-right: 0px!important;
    flex: 0 0 48px!important;
  }
@media (min-width: 768px) {
  #navHeader .navOffsetRight-md{
  }
  /* PC端，乐队列表页隐藏移动端的居中timeline导航菜单 */
  #navHeader #collapseNavbarMobile.navbar-collapse-md{
    display:none;
  }
  #navHeader.timeline #collapseNavbarPC.navbar-collapse-md ul{
    animation:slideIn .3s ease 0s 1 normal both;
  }
  #navHeader #collapseNavbarPC.navbar-collapse-md ul{
    animation:slideOut .3s ease 0s 1 normal both;
  }
  #navHeader .navbar .navbar-collapse.navbar-collapse-md ul li a
  {
    padding: 0.2rem 0.9rem;
    line-height: 0.6rem;
  }
}
@keyframes slideIn {
  0%{
    opacity:0;
    transform:translateY(100%);
  }
  100%{
    opacity:.5;
    transform:translateY(0px);
  }
}
@keyframes slideOut {
  0%{
    opacity:.5;
    transform:translateY(0px);
  }
  100%{
    opacity:0;
    transform:translateY(100px);
  }
}
@keyframes rollIn {
  0%{
    opacity:0;
    transform:translateX(0%) rotate(-120deg) scale(.5);
  }
  100%{
    opacity:.5;
    transform:translateX(0px) rotate(0deg) scale(1);
  }
}
@keyframes rollOut {
  0%{
    opacity:.5;
    transform:translateX(0px) rotate(0deg) scale(1);
  }
  100%{
    opacity:0;
    transform:translateX(0%) rotate(120deg) scale(0.5);
  }
}
@keyframes flipOut{
  0%{
    transform:perspective(400px) rotateX(0deg);
    opacity:1;
  }
  100%{
    transform:perspective(400px) rotateX(90deg);
    opacity:0;
  }
}
@keyframes flipIn{
  0%{
    transform:perspective(400px) rotateX(90deg);
    opacity:0;
  }
  40%{transform:perspective(400px) rotateX(-10deg)}
  70%{transform:perspective(400px) rotateX(10deg)}
  100%{
    transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
}
@keyframes openOut{
  0%{
    overflow: hidden;
    height:auto;
    background-color: black;
  }
  100%{
    height:0px;
  }
}
@keyframes openIn{
  0%{
    overflow: hidden;
    /* height:0px; */
    flex:0 1 0px;
    max-height: 0;
  }
  100%{
    /* height:auto; */
    flex:1;
    max-height: 100%;
  }
}
/* 菜单打开 */
#offcanvasRightMenu{
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
  font-family: SourceHanSansCN-Normal, SourceHanSansCN,NHaasGroteskTXPro-Rg;

  width:100vw;
  padding-left: 0.711rem;
  padding-right: 0.711rem;
  /* padding-left:4.6vw; */
}

  /* 搜索按钮 */
  #offcanvasRightMenu .offcanvas-header {
    /* width: 0.667rem; */
    /* height: 0.694rem; */
    font-size: 0.668rem;
    line-height: 0.56rem;
    margin-top: 0.88rem;
    margin-bottom:2.1rem;
  }
  #offcanvasRightMenu .offcanvas-header .btn-close{
    opacity: 1;
    background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
  }
  #offcanvasRightMenu .offcanvas-header i.fa.fa-search{
      width: 0.667rem;
      height: 0.694rem;
      font-size: 0.668rem;
      line-height: 0.56rem;
  }
  #offcanvasRightMenu .offcanvas-body .menuItem{
      font-weight: 400;

      font-size: 0.85rem;      
      width: auto;
      align-self: flex-start;
  
      line-height: 1.27rem;
      margin-bottom: 0.154rem;
  }
  /* 
  #offcanvasRightMenu .offcanvas-body .language{

  }
  */
  #offcanvasRightMenu .offcanvas-body .menuFoot{
    /* width: 8.347rem; */    

    /* height: 10vh; */
    max-height:15vh;
    display:flex;
    flex:0 1 3rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.747rem 0 0 0.027rem;
    /* column换行bug */
    writing-mode: vertical-lr;
  }
  #offcanvasRightMenu .offcanvas-body .menuFoot li{  
    font-size: 0.538rem;
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin: 0.08rem 0 0 0.027rem; */
    overflow-wrap: break-word;
    letter-spacing: -0.5799999833106995px;
    line-height: 1rem;
    text-align: left;
    /* column换行bug */
    writing-mode: horizontal-tb;
  }
  #offcanvasRightMenu .offcanvas-body .menuFootCopyright{
    font-size: 0.538rem;

    height: 0.64rem;
    overflow-wrap: break-word;
    margin-top: 0.88rem;
    text-align: left;
    align-self: center;
    line-height: 0.56rem;
    margin-bottom:8px;
  }    
/* header详情弹出层 */
.offcanvas-end{
    width:100vw;
}
.offcanvas-header{
    padding: 0.427rem 0.427rem;
}
.offcanvas-header .btn-close{
    padding: .214rem .214rem;
    margin-top: -.214rem;
    margin-right: -.214rem;
    margin-bottom: -.214rem;
}
.offcanvas-body{
    padding: 0.427rem 0.427rem;
}  

@media (min-width: 768px) {
  #offcanvasRightMenu .offcanvas-header {
    margin-bottom:1.333rem;
  }
  #offcanvasRightMenu.offcanvasRightMenu-md{
    width: 35.42vw;
    min-width:13.6rem;
    padding-left:1rem ;
  }
  #offcanvasRightMenu.offcanvasRightMenu-md .menuItem-md{
    font-size:0.667rem;
    /* height: 1.88vw; */
    line-height: 1rem;
    margin-bottom:0.267rem;
  }

  #offcanvasRightMenu .offcanvas-body .menuFoot li{
    font-size: 0.444rem;
    line-height: 0.8rem;/*0.556rem;*/
  }
  #offcanvasRightMenu .offcanvas-body .menuFootCopyright{
    font-size: 0.444rem;
    margin-bottom:60px;
  }
}