/* 导航样式 */
/* #navHeader .logo{
  
  min-width:98px;
  max-width:131px;
  min-height:30px;
  max-height:40px;
  flex:1 1 9.1vw;
} */
/* 按钮按下时的边框 */
.navbar-toggler:focus {
  box-shadow: 0 0 0 1px;
}
/* logo */
#navHeader .navbar{
    padding-top:0.08rem;
    padding-bottom:0.0rem;
}
#navHeader .navbar-brand{
    width: 2.614rem;
    height: 100%;
    flex:1 1 2.614rem;
    /* flex:1 1 9.1vw; */
}
#navHeader .navbar-brand img{
    width: 2.614rem;
    height: 0.8rem;
}
  #navHeader .logo .img-fluid{
    min-width:98px;
    max-width:131px;
    min-height:30px;
    max-height:40px;
    object-fit: contain;
  }
  /* 菜单及搜索关闭 */
  #navHeader .navbar-expand-md .navbar-collapse{
    width:auto;
  }
  /* 菜单及搜索按钮打开 */
  #navHeader .navbar-expand-md .navbar-collapse.collapsing{
    width:100%;
  }
  #navHeader .navbar-expand-md .navbar-collapse.show{
    width:100%;
  }  
  #navHeader .collapse.navbar-collapse
  {
  
  }
  #navHeader .collapse.navbar-collapse .navbar-nav
  {
    max-width: 68.9vw;
    overflow: hidden;
    flex:1 1 auto;
  }
  #navHeader .collapse.navbar-collapse .navbar-nav li 
  {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 1.094rem;
    width: 3.04rem;
    /* margin-left: 0.134rem; */
    margin: 0.107rem 0 0 0.134rem;
    background-color: transparent;
  }
  #navHeader .collapse.navbar-collapse .navbar-nav li a
  {
    font-size: 0.48rem;
    margin:0px;
    padding:0px;
  }
  #navHeader .collapse.navbar-collapse .input-group .input-group-text
  {
    font-size: 0.534rem;
    padding: 0.7rem;
    border: none;
    background-color: transparent;
  }
 
  /* 手机菜单按钮 */
  #navHeader .navbar-toggler{
    display: flex;
    border-color: transparent;
    height:100%;
  }
  #navHeader .navbar-toggler .navbar-toggler-icon{
    width: 0.827rem;
    height: 0.56rem;
  }
/* 菜单打开 */
#offcanvasRightMenu{
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
  width:100vw;
  font-family: SourceHanSansCN-Normal,NHaasGroteskTXPro-Rg;
  /* padding-left:4.6vw; */
}
  /* 搜索按钮 */
  #offcanvasRightMenu .offcanvas-header {
    /* width: 0.667rem; */
    /* height: 0.694rem; */
    font-size: 0.668rem;
    line-height: 0.56rem;
  }
  #offcanvasRightMenu .offcanvas-header .btn-close{
    opacity: 1;
    background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
  }
  #offcanvasRightMenu .offcanvas-header i.fa.fa-search{
      width: 0.667rem;
      height: 0.694rem;
      font-size: 0.668rem;
      line-height: 0.56rem;
  }
  #offcanvasRightMenu .offcanvas-body .menuItem{
      font-size: 0.586rem;
      
      line-height: 0.88rem;
      height: 0.987rem;
      margin: 0.054rem 0 0 0.054rem;
  }
  /* 
  #offcanvasRightMenu .offcanvas-body .language{

  }
  */
  #offcanvasRightMenu .offcanvas-body .menuFoot{
    /* width: 8.347rem; */
    height: 10vh;
    max-height:15vh;
    display:flex;
    flex:0 1 10vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.747rem 0 0 0.027rem;
  }
  #offcanvasRightMenu .offcanvas-body .menuFoot li{  
    width: 50%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.08rem 0 0 0.027rem;
    overflow-wrap: break-word;
    font-size: 0.373rem;
    letter-spacing: -0.5799999833106995px;
    line-height: 0.454rem;
    text-align: left;
  }
  #offcanvasRightMenu .offcanvas-body .menuFootCopyright{
    height: 0.64rem;
    overflow-wrap: break-word;
    margin-top: 0.88rem;
    text-align: left;
    align-self: center;
    font-size: 0.373rem;
    line-height: 0.56rem;
  }    
/* header详情弹出层 */
.offcanvas-end{
    width:100vw;
}
.offcanvas-header{
    padding: 0.427rem 0.427rem;
}
.offcanvas-header .btn-close{
    padding: .214rem .214rem;
    margin-top: -.214rem;
    margin-right: -.214rem;
    margin-bottom: -.214rem;
}
.offcanvas-body{
    padding: 0.427rem 0.427rem;
}  

@media (min-width: 768px) {

  #offcanvasRightMenu.offcanvasRightMenu-md{
    width: 35.42vw;
    padding-left:2.5vw;
  }
  #offcanvasRightMenu.offcanvasRightMenu-md .menuItem-md{
    width: auto;
    height: 1.88vw;
    align-self: flex-start;
    margin-top:0.267rem
  }
}