/* base factor 16/37.5px=0.427   2.34 */  
/* header详情弹出层 */


.section {
    /* width: 10.054rem; */
    /* height: 34.214rem; */
    overflow-wrap: break-word;
    margin-top: 1.307rem;
    margin-top: 0px;
    font-size: 0;
    width: 90%;
  }
.section span{
    font-size: calc(24 * 1rem / 26);
    /* font-family: PingFangSC-Regular; */
    color: rgba(0, 0, 0, 1);
    line-height: calc(33 * 1rem / 26);
}
.section .foot {
    z-index: 9;
    /* width: 6.267rem; */
    display: block;
    overflow-wrap: break-word;
    color: rgba(155, 155, 155, 0.8);
    font-size: calc(16 * 1rem / 26);
    letter-spacing: 0.02181817963719368px;
    line-height: 1.27rem;
    text-align: center;
    margin-top: 0.854rem;
}

@media (min-width: 768px) {


    .section span{
        font-size: 0.667rem;
    }
    .section .foot {
        font-size: 0.426rem;
    }

}