#offcanvasDetailAll{
    transition-property: background-color;
    transition-duration: 1s;

    background: #FDFDFD;
    color: black;
    --offsetcanvas-padding-right:0.77rem;
    --offsetcanvas-padding:0.77rem;
    --offsetcanvas-left:0vw;
    --offsetcanvas-right:calc( 100vw - var(--offsetcanvas-left,0vw));
}
#offcanvasDetailAll.news{ background-color: #FDFDFD; }
#offcanvasDetailAll.artists{ background-color: #000000; color:#FDFDFD;}
#offcanvasDetailAll.records{ background-color: #FF4D3E; }
#offcanvasDetailAll.shows{ background-color: #FFEC00; }
#offcanvasDetailAll.goods{ background-color: #00FF2E; }
#offcanvasDetailAll.videos{ background-color: #00FFFE; }
/*
#offcanvasDetailAll.artistDetailColor{
    background-color: black;
    color:white;
}
*/
#offcanvasLeft.offcanvas-start{
    width:var(--offsetcanvas-left,0vw);
    display:none;
    background-color: inherit;
    color:inherit;
    border:none;
}
#offcanvasLeft.offcanvas-body{
    display:flex;
    flex-direction: column;
    position: relative;
}
/* 右侧详情 */
#offcanvasRight.offcanvas-end{
    /* width:calc( 100vw - var(--offsetcanvas-left,0vw)); */
    width: var(--offsetcanvas-right);
    background-color: inherit;
    border:none;
}
#offcanvasRight .offcanvas-header{
    padding:0px;
    position:relative;
    margin-bottom: 0rem;
}
/* 详情页logo */
#offcanvasDetailAll.artists #offcanvasRight .offcanvas-header .navbar-brand{display:none;}
#offcanvasDetailAll #offcanvasRight .offcanvas-header .navbar-brand{
    display:flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
#offcanvasDetailAll #offcanvasRight .offcanvas-header .navbar-brand img {
    min-width: 98px;
    max-width: 131px;
    min-height: 30px;
    max-height: 40px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
#offcanvasDetailAll .offcanvas-header .icon-arrow{
    background: url(/static/upload/images/icons/arrow-down.svg) center no-repeat;
    background-size: 1rem;
}
#offcanvasDetailAll.artists .offcanvas-header .icon-arrow{
    filter: invert(1);
}
/* 移动端隐藏叉子 */
#offcanvasRight .offcanvas-header .btn-close{
    display:none;
}

.offcanvas-header .btn-close:active, 
.offcanvas-header .btn-close:focus, 
.offcanvas-header .btn-close:active:focus, 
.offcanvas-header .btn-close.active:focus,
.offcanvas-header .btn-close.focus, 
.offcanvas-header .btn-close:active.focus, 
.offcanvas-header .btn-close.active.focus {
	outline: none;
    box-shadow: none;
}
#offcanvasRight #offcanvasDetail{
    padding: var(--offsetcanvas-padding, 0.77rem);
    padding-right: var(--offsetcanvas-padding-right, 0.77rem);
    padding-top:0px;
    background-color: inherit;
    margin-top: 1.5rem;
}
#offcanvasRight.loading .offcanvas-body .content,
#offcanvasRight .offcanvas-body loading{
    display:none;
}
#offcanvasRight.loading .offcanvas-body loading{
    display:flex;
    height:calc(100% + 1px);
}

@media (min-width: 768px) {
    #offcanvasDetailAll{
        background: white;
        color: black;
        --offsetcanvas-padding-right:0.77rem;
        --offsetcanvas-padding:0.77rem;
        --offsetcanvas-left:0vw;    
    }
    #offcanvasDetailAll.about,
    #offcanvasDetailAll.artists{
        --offsetcanvas-padding-right:3.67rem;
        --offsetcanvas-padding:0.427rem;
        --offsetcanvas-left:13.89rem;
    }
    #offcanvasDetailAll #offcanvasLeft.offcanvas-start{
        display:none;
    }
    #offcanvasDetailAll.about #offcanvasLeft.offcanvas-start,
    #offcanvasDetailAll.artists #offcanvasLeft.offcanvas-start{
        display:flex;
    }
    #offcanvasDetailAll #offcanvasLeft #offcanvasListArtists{
        margin-top:2rem;
        margin-left: 10px;
    }
    #offcanvasDetailAll #offcanvasLeft #offcanvasListArtists .firstLetter{
        padding-top: 1rem;
    }
    #offcanvasDetailAll #offcanvasLeft #offcanvasListArtists .firstLetter,
    #offcanvasDetailAll #offcanvasLeft #offcanvasListArtists .artist{
        padding-bottom: 0.5rem;
    }
    /* header详情弹出层 */
    .offcanvas-end .offcanvas-header{
        justify-content:flex-end;
        align-items: flex-end;
        height: var(--header-btn-height,53px);
        margin-right: var(--header-margin-right,1rem)!important;
        margin-top:var(--header-margin-top,30px);
        padding:0px;
    }
    #offcanvasDetailAll #offcanvasRight .offcanvas-header .navbar-brand{
        display:flex;
        justify-content: flex-start;
        position: relative;
        flex: 1;
        height: 100%;
        padding-top:0px;
        padding-bottom: 0px;
        margin-left: calc(var(--main-offset-left-pc,46px))!important;
    }
    #offcanvasDetailAll.about  #offcanvasRight .offcanvas-header .navbar-brand,
    #offcanvasDetailAll.artists  #offcanvasRight .offcanvas-header .navbar-brand{
        display:none;
    }

    #offcanvasRight .offcanvas-header .icon-arrow.left{
        display: none;
    }
    #offcanvasRight .offcanvas-header .btn-close{
        display:block;
        filter: invert(0);
    }

    #offcanvasDetailAll.artists .offcanvas-header .btn-close{
        filter: invert(1);
    }
    #offcanvasDetailAll #offcanvasRight #offcanvasDetail{
        margin-top: 57px;
        margin-top: 64px;
        padding-left: calc(var(--main-offset-left-pc,46px));
        padding-right: calc(var(--main-offset-left-pc,46px));
    }
    #offcanvasDetailAll.about #offcanvasRight #offcanvasDetail{
        margin-top: 0px;
    }
    #offcanvasDetailAll.artists #offcanvasRight #offcanvasDetail{
        margin-top: 19px;
    }
}


  