
#dr-footer .timelineContainer{
    --width-timeline-bar-wrapper:82.3%;
    /* d-flex flex-row justify-content-end position-relative p-0 */
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    padding:0;
    background-color: white;
    max-width: 100%;
    overflow: hidden;
}
#dr-footer .timelineContainer .timelineLeft{
    transition-property: all;
    transition-duration: 0.5s;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    /* position: relative; */
    /* flex: 0 0 calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) + 46px); */
    flex:0 0 0px;
}
#dr-footer .timelineMain{
    flex:1;
    overflow: hidden;
}
/* 通用：变形到乐队列表页的尺寸 */
#bsTimelineBarWrapper{
    transition-property: all;
    transition-duration: 0.5s;
    overflow: hidden;

    /* width:var(--width-timeline-bar-wrapper,82.3%); */
    width:100%;

    height:var(--footer-size-mobile,16px);
    max-height:var(--footer-size-mobile,54px);
}
#bsTimelineBarWrapper .bsTimelineBarContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}
#bsTimelineBarWrapper .bsTimelineBarContent .left{
    flex: 0 0 calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) + 46px);
}
#svgTimelineBar{
    transition-property: transform;
    transition-duration: 0.3s;
    flex:0 0 auto;
}
#dr-footer.timeline.done #bsTimelineBarWrapper .bsTimelineBarContent #svgTimelineBar{
    transform: translateY(12px);
}
#dr-footer.listArtist #bsTimelineBarWrapper .bsTimelineBarContent #svgTimelineBar{
    transform: translateY(0px);
}
#bsTimelineBarWrapper .bsTimelineBarContent #svgTimelineBar .b-s {
    y:calc(31px - 12px);
    width:2px;
    height:10px;
    fill: #000;
}
#bsTimelineBarWrapper .bsTimelineBarContent #svgTimelineBar .b-d {
    width:3px;
    height:15px;
    fill:#231F20;
}
/* 测试用 */
#svgTimelineBar .b-d.now{
    fill:chartreuse!important;
}
#dr-footer .timelineContainer .timelineYearContainer{
    display: flex;
    align-items: flex-start;
    flex:0 0 calc(100% - var(--width-timeline-bar-wrapper,82.3%));
    overflow: visible;
    /* transform: translateY(54px); */
    /* height: 100%; */
    font-size: 0.5rem;
}
#dr-footer .timelineContainer .timelineYearContainer .timelineYear{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-anchor: middle;
    /* font-family: NHaasGroteskTXPro-Rg, NHaasGroteskTXPro; */
    font-weight: normal;
    font-size:0.46rem;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
    color: #000000;
    /* line-height: 1.333rem; */

    width:0px;
    height:0px;
    position: relative;
    /* left: 0px; */
    overflow: visible;
    /* border:1px solid black; */
    /* transition-property: opacity; */
    /* transition-duration: .5s; */
}

#dr-footer .timelineContainer .timelineYearContainer .timelineYear span{
    transform: translate(6px,32px);
    padding-right:13px;
    /* border:1px solid green; */
    /* background-color: white; */
    /* -webkit-text-stroke: 2.0px white; */
}
@media (min-width: 768px) {
    /* PC版Footer高度和位置 恢复*/
    #dr-footer.footerContainer-md{
        top:unset;
        width:100%!important;
        max-height: var(--footer-size-pc,16px);
        transform:none;
    }
    /*
    #dr-footer .timelineContainer .timelineLeft-md{
        flex:0 0 calc(var(--main-offset-left-pc,46px));
    }
    */
    #bsTimelineBarWrapper .bsTimelineBarContent-md .left{
        flex: 0 0 calc(var(--main-offset-left-pc,46px));
    }
    /* PC端，时间轴页时间轴尺寸 */
    #dr-footer.timeline.footerContainer-md #bsTimelineBarWrapper{
        height:var(--footer-size-pc,105px);
        max-height:var(--footer-size-pc,105px);
    }
    #dr-footer.timeline.done #bsTimelineBarWrapper .bsTimelineBarContent-md #svgTimelineBar{
        transform: translateY(20px);
    }
    #dr-footer.listArtist #bsTimelineBarWrapper .bsTimelineBarContent-md #svgTimelineBar{
        transform: translateY(0px);
    }
    #bsTimelineBarWrapper .bsTimelineBarContent-md #svgTimelineBar .b-s {
        y:calc(37px - 20px);
        width:1px;
        height:18px;
    }
    #bsTimelineBarWrapper .bsTimelineBarContent-md #svgTimelineBar .b-d {
        /* y:20px; */
        width:2.4px;
    }

    /* 年份 */
    #dr-footer .timelineContainer .timelineYearContainer-md .timelineYear{
        font-size: 1.11rem;
        /* font-family: HelveticaNeue; */
    }
    #dr-footer .timelineContainer .timelineYearContainer .timelineYear span{
        transform: translate(calc(-50% + 35.5px),44px);
        padding-right:71px;
        /* border:1px solid green; */
        /* background-color: white; */
        /* -webkit-text-stroke: 2.0px white; */
    }
}
