
#dr-footer .timelineContainer{
    --width-timeline-bar-wrapper:calc();
    --width-timeline-bar-wrapper-pc: calc(100vw - var(--width-timeline-bar-end-pc) );
    --width-timeline-bar-wrapper-mobile: calc( (var(--vh,1vh) * 100) - (var(--width-footer-bn-mobile) * 2) - var(--width-timeline-bar-end-mobile) );

    --width-timeline-bar-year-span-pc:160px;
    --width-timeline-bar-year-span-mobile:40px;
    --width-timeline-bar-end-pc:calc(var(--width-timeline-bar-year-span-pc) * 3 / 2);
    --width-timeline-bar-end-mobile:calc( (var(--width-timeline-bar-year-span-mobile) * 2));
    --width-footer-bn-mobile:34px;
    --width-footer-bn-pc:40px;
    /* --width-timeline-bar-year-bn-pc:160px; */
    /* --width-timeline-bar-year-bn-mobile:40px; */

    /* d-flex flex-row justify-content-end position-relative p-0 */
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    padding:0;
    background-color: white;
    max-width: 100%;
    overflow: hidden;
}
#dr-footer .timelineContainer .timelineBn{
    transition-property: transform,opacity,flex-basis;
    opacity: 1;
    transition-duration: 0.3s;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* position: relative; */
    /* flex: 0 0 calc(var(--main-offset-left-mobile,20px) + var(--footer-size-mobile,16px) + 46px); */
    flex:0 0 0px;
    flex-basis: 0px;
}
#dr-footer.listArtist.done .timelineContainer .timelineBn{
    opacity:0;
    flex-basis: 0px;
}
#dr-footer.timeline.done .timelineContainer .timelineBn{
    opacity:1;
    flex-basis: var(--width-footer-bn-mobile,34px);
}
#dr-footer .timelineContainer .timelineBn.next{
    transform: rotate(180deg);
}
#dr-footer .timelineContainer .timelineBn .bnArrow{
    transition-property: transform opacity;
    transition-duration: 3s;
    height:100%;
    width:100%;
    background-image: url("/static/upload/images/icons/bnArrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}
#dr-footer.footerContainer .timelineContainer .timelineBn .bnArrow{
    transition-delay: 0s;
    opacity: 0;
    transform: translateX(-40px);
}
#dr-footer.footerContainer.done .timelineContainer .timelineBn .bnArrow{
    opacity: 0;
}
#dr-footer.footerContainer.timeline.done .timelineContainer .timelineBn .bnArrow{
    transition-delay: 0.5s;
    opacity: 1;
    transform: translateX(0px);
}

/* 当前标记 */
#dr-footer .scrollBar{
    transition-property: height,opacity,transform;
    transition-duration: 0.5s;
    transition-delay: 0.3;
    overflow: visible;
    width: 0px;
    flex: 0 0 0px;
    /* 90px */
    transform: translate(calc(var(--top-main-timeline-mobile,0px) - var(--width-footer-bn-mobile,20px) + var(--width-footer-bn-mobile,34px)),-10px);
    opacity: 0;
    /* transform:translateX(20px); */
    height:var(--footer-size-mobile,105px);
}
#dr-footer .scrollBar div{
    /* transition-property: transform,opacity,; */
    /* transition-duration: 1s; */
    /* transition-delay: 0.3; */
    content:"";
    box-sizing: content-box;
    border-left: 4px solid black;
    width:10px;
    height:100%;
    background-color:#2A00FF;

    opacity: 1;
    transform:translateX(0px);
}
body.news #dr-footer .scrollBar div{ background-color: #2A00FF; }
body.records #dr-footer .scrollBar div{ background-color: #FF4D3E; }
body.shows #dr-footer .scrollBar div{ background-color: #FFEC00; }
body.goods #dr-footer .scrollBar div{ background-color: #00FF2E; }
body.videos #dr-footer .scrollBar div{ background-color: #00FFFE; }
#dr-footer.timeline.done .scrollBar{
    opacity:1;
    /* height:var(--footer-size-mobile,105px); */
    transform: translate(calc(var(--top-main-timeline-mobile,0px) - var(--width-footer-bn-mobile,20px)),0px);
}

#dr-footer .timelineMain{
    flex:1;
    overflow: hidden;
}

/* 通用：变形到乐队列表页的尺寸 */
#bsTimelineBarWrapper{
    transition-property: all;
    transition-duration: 0.5s;
    overflow: hidden;

    /* width:var(--width-timeline-bar-wrapper,82.3%); */
    width:100%;

    height:var(--footer-size-mobile,16px);
    max-height:var(--footer-size-mobile,54px);
}
#bsTimelineBarWrapper .bsTimelineBarContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: visible;
    max-width: auto;
    cursor: grab;
}
#bsTimelineBarWrapper .bsTimelineBarContent:active{
    cursor:grabbing;
}
#bsTimelineBarWrapper .bsTimelineBarContent .left{
    /* transition-property: flex-basis; */
    /* transition-duration: 0.3s; */
    flex : 0 0 0px;
    flex-basis:calc(var(--top-main-timeline-mobile,125px) - var(--width-footer-bn-mobile,20px));
}
/* 
#dr-footer.timeline.done #bsTimelineBarWrapper .bsTimelineBarContent .left{
    flex-basis:calc(var(--top-main-timeline-mobile,0px) - var(--width-footer-bn-mobile,20px));
}
#dr-footer.listArtist.done #bsTimelineBarWrapper .bsTimelineBarContent .left{
    flex-basis:0px;
}
*/

.svgTimelineBar{
    transition-property: transform;
    transition-duration: 0.3s;
    flex:0 0 auto;
    width:calc( var(--width-timeline-bar-wrapper-mobile) * var(--width-timeline-bar-year,1) * var(--scale-timeline-bar-svg,1));
}
#dr-footer.timeline #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar{
    transform: translateY(12px);
}
#dr-footer.listArtist.done #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar{
    transform: translateY(0px);
}
#bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-s.b-y {
    opacity: 1!important;
}
#bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-s {
    y:calc(31px - 12px);
    width:2px;
    height:10px;
    fill: #000;
}
#bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d {
    width:3px;
    height:15px;
    fill:#231F20;
}
body #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d.news,
body.shows #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d.shows,
body.goods #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d.goods,
body.videos #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d.videos,
body.records #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d.records {
    opacity: 1;
}
body #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d:not(.news),
body.shows #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d:not(.shows),
body.goods #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d:not(.goods),
body.videos #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d:not(.videos),
body.records #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-d:not(.records) {
    opacity: 0;
}
body.records #bsTimelineBarWrapper .bsTimelineBarContent .svgTimelineBar .b-s {
    opacity: 0;
}
/* 测试用 */
.svgTimelineBar .b-d.now{
    fill:#ccc!important;
}

/* 结尾占位日期空间 */
#bsTimelineBarWrapper .bsTimelineBarContent .blank{
    /* flex:0 0 calc(99.9vw - (var(--top-main-timeline-mobile,0px) - var(--width-footer-bn-mobile,20px) + var(--width-footer-bn-mobile,34px))); */
    /* min-width: calc(99.9vw - (var(--top-main-timeline-mobile,0px) - var(--width-footer-bn-mobile,20px) + var(--width-footer-bn-mobile,34px))); */
    flex:0 0 var(--width-timeline-bar-wrapper-mobile);
    min-width:var(--width-timeline-bar-wrapper-mobile);
    height: 27px;
    border-bottom: 1px dashed #ccc;
}
#dr-footer .timelineContainer .timelineYearContainer{
    display: flex;
    align-items: flex-start;
    /* flex:0 0 calc(100% - var(--width-timeline-bar-wrapper,82.3%)); */
    flex : 0 0 0px;
    overflow: visible;
    /* transform: translateY(54px); */
    /* height: 100%; */
    font-size: 0.5rem;
}
#dr-footer .timelineContainer .timelineYearContainer .timelineYear{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-anchor: middle;
    /* font-family: NHaasGroteskTXPro-Rg, NHaasGroteskTXPro; */
    font-weight: normal;
    font-size:0.46rem;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
    
    /* line-height: 1.333rem; */

    width:0px;
    height:0px;
    position: relative;
    /* left: 0px; */
    overflow: visible;
    /* border:1px solid black; */
    /* transition-property: opacity; */
    /* transition-duration: .5s; */
}

#dr-footer .timelineContainer .timelineYearContainer .timelineYear span{
    transform: translate(6px,32px);
    padding-right:13px;
    color: #c2c2c2;
    /* border:1px solid green; */
    /* background-color: white; */
    /* -webkit-text-stroke: 2.0px white; */
}
#dr-footer .timelineContainer .timelineYearContainer .timelineYear.now span{
    color: #000000;
}
/* 多余年份bar */
#dr-footer .timelineContainer .timelineYearContainer .barContainer{
    width:0px;
    height:0px;
    position: relative;
    /* left: 0px; */
    overflow: visible;
    /* display: flex; */
    /* justify-content: stretch; */
    /* flex-wrap: nowrap; */
    transform: translate(calc( -1 * var(--width-timeline-bar-end-mobile) - 0px),calc(12px));
}
#dr-footer .timelineContainer .timelineYearContainer .barContainer .bar{
    transition-property: transform,opacity;
    transition-duration: 0.3s;
    
    width:0px;
    height:35px;
    position: relative;
    /* left: 0px; */
    overflow: visible;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    /* width: calc( (var(--width-timeline-bar-year-span-mobile) * 2)); */
    width:var(--width-timeline-bar-end-mobile);

    /* transform:translateY(15px); */
    opacity: 0;
}
#dr-footer.timeline.done .timelineContainer .timelineYearContainer .barContainer .bar{
    /* transform:translateY(0px); */
    opacity: 1;
}
#dr-footer .timelineContainer .timelineYearContainer .year{
    display: flex;
    justify-content: stretch;
    background-color: black;
    /* transform: translate(calc( -1 * (var(--width-timeline-bar-year-span-pc) + 4.44rem + var(--main-offset-left-pc))),20px); */

    flex:0 0 var(--width-timeline-bar-year-span-mobile);
    height:15px;
}
#dr-footer .timelineContainer .timelineYearContainer .year .line{
    display: none;
    flex: 1;
    border-right:1.5px solid white;
    height:100%;
}

#dr-footer .timelineContainer .timelineYearContainer .year.more{
    display: flex;
    justify-content: stretch;
    background-color: black;
    /* transform: translate(calc( -1 * (var(--width-timeline-bar-year-span-pc) + 4.44rem + var(--main-offset-left-pc))),20px); */
    /* transform: translate(calc( -1 * (var(--width-timeline-bar-year-span-pc) / 2)),20px); */
    flex:0 0 calc(var(--width-timeline-bar-year-span-mobile));
    height:15px;
}
#dr-footer .timelineContainer .timelineYearContainer .year.more .line{
    display: flex;
}
/* 年：长刻度 */
#dr-footer .timelineContainer .timelineYearContainer .barContainer .bar .year.line{
    height:10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background: transparent;
}
@media (min-width: 768px) {
    #dr-footer.listArtist.up{
        flex-basis: var(--footer-size-up-pc,36px);
        min-height: var(--footer-size-up-pc,36px);
    }
    /* PC版Footer高度和位置 恢复*/
    #dr-footer.footerContainer-md{
        top:unset;
        width:100%!important;
        max-height: var(--footer-size-pc,16px);
        transform:none;
    }
    #dr-footer.footerContainer-md .timelineBn{
        /* flex:0 0 calc(var(--main-offset-left-pc,46px)); */
        flex:0 0 0px;
        width:0px;
        transform: translate(var(--width-footer-bn-pc,40px),15px);
    }
    #dr-footer.timeline.done .timelineContainer .timelineBn{
        /* opacity:1; */
        flex-basis: 0px;
    }
    #dr-footer.footerContainer-md .timelineBn.next {
        transform: rotate(180deg) translate(var(--width-footer-bn-pc,40px),-15px);
    }
    #dr-footer.footerContainer-md .timelineBn .bnArrow{
        height:var(--width-footer-bn-pc,40px);
        width:var(--width-footer-bn-pc,40px);
    }
    /* 当前标记 */
    #dr-footer.footerContainer-md .scrollBar{
        opacity: 1;
        height:var(--footer-size-pc,105px);
        transform: translate(var(--width-footer-bn-pc,40px),calc(-1 * var(--footer-size-pc,105px)));
    }
    #dr-footer.footerContainer-md.timeline.done .scrollBar{
        opacity:1;
        height:var(--footer-size-pc,105px);
        transform: translate(var(--width-footer-bn-pc,40px),0px);
    }
    #bsTimelineBarWrapper .bsTimelineBarContent-md .left{
        flex-basis: calc(var(--main-offset-left-pc,46px))!important;
    }
    /* PC端，时间轴页时间轴尺寸 */
    #dr-footer.timeline.footerContainer-md #bsTimelineBarWrapper{
        height:var(--footer-size-pc,105px);
        max-height:var(--footer-size-pc,105px);
    }
    #dr-footer.listArtist.up #bsTimelineBarWrapper{
        height:100%;
        max-height: 100%;
    }
    #dr-footer .svgTimelineBar{
        transition-property: transform,width;
        transition-duration: 0.3s;
    
        /* width:var(--width-timeline-bar-wrapper-pc); */
        width:calc( var(--width-timeline-bar-wrapper-pc) * var(--width-timeline-bar-year,1) * var(--scale-timeline-bar-svg,1));

    }
    #dr-footer.timeline.done #bsTimelineBarWrapper .bsTimelineBarContent-md .svgTimelineBar{
        transform: translateY(20px);
    }
    #dr-footer.listArtist #bsTimelineBarWrapper .bsTimelineBarContent-md .svgTimelineBar{
        transform: translateY(0px);
    }
    #bsTimelineBarWrapper .bsTimelineBarContent-md .svgTimelineBar .b-s {
        y:calc(37px - 20px);
        width:1px;
        height:18px;
    }
    #bsTimelineBarWrapper .bsTimelineBarContent-md .svgTimelineBar .b-d {
        /* y:20px; */
        width:2.4px;
    }
    /* 鼠标经过弹出 */
    #dr-footer.listArtist.up #bsTimelineBarWrapper .bsTimelineBarContent-md .svgTimelineBar .b-s,
    #dr-footer.listArtist.up #bsTimelineBarWrapper .bsTimelineBarContent-md .svgTimelineBar .b-d {
        height:var(--footer-size-up-pc,36px);
        y: 0;
    }
    #dr-footer.listArtist.up .timelineBn,
    #dr-footer.listArtist.up .timelineYearContainer{
        display:none;
    }
    #bsTimelineBarWrapper .bsTimelineBarContent .blank{
        flex:0 0 var(--width-timeline-bar-wrapper-pc);
        min-width:var(--width-timeline-bar-wrapper-pc);
    }
    /* 年份 */
    #dr-footer .timelineContainer .timelineYearContainer-md{
        width:0px;
        flex : 0 0 0px;
    }
    #dr-footer .timelineContainer .timelineYearContainer-md .timelineYear{
        font-size: 1.11rem;
        /* font-family: HelveticaNeue; */
    }
    #dr-footer .timelineContainer .timelineYearContainer-md .timelineYear span{
        transform: translate(calc(-50% + 35.5px),44px);
        padding-right:71px;
        font-weight: 500;
        /* border:1px solid green; */
        /* background-color: white; */
        /* -webkit-text-stroke: 2.0px white; */
    }
    /* 多余年份bar */
    #dr-footer .timelineContainer .timelineYearContainer-md .barContainer{
        transform: translate(calc( -1 * var(--width-timeline-bar-end-pc)),20px);
    }
    #dr-footer .timelineContainer .timelineYearContainer-md .barContainer .bar{
        height:35px;
        /* width: calc( (var(--width-timeline-bar-year-span-pc) * 3 / 2)); */
        width:var(--width-timeline-bar-end-pc);
    }    
    #dr-footer .timelineContainer .timelineYearContainer-md .year{
        flex:0 0 var(--width-timeline-bar-year-span-pc);
        height:15px;
    }
    #dr-footer .timelineContainer .timelineYearContainer-md .year .line{
        display: flex;
    }

    #dr-footer .timelineContainer .timelineYearContainer-md .year.more{
        flex:0 0 calc(var(--width-timeline-bar-year-span-pc) / 2);
        height:15px;
    }
    #dr-footer .timelineContainer .timelineYearContainer-md .year.more .line.line-md{
        display:none;
    }
    #dr-footer .timelineContainer .timelineYearContainer-md .barContainer .bar .year.line{
        height:18px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}
