.flex-col {
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-play:before {
    content: "\f04b";
}
.fa-pause:before {
    content: "\f04c";
}
.fa-angle-left::before{
    content: "\f104";
}
.fa-angle-right::before{
    content:"\f105";
}
.fa-music:before {
    content: "\f001";
}
.fa-search:before {
    content: "\f002";
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.fa-spinner:before {
    content: "\f110";
}
/* from white.css */
html,
body,
ul {
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 20px;
}

h1,
h2,
h3 {
    font-weight: 700;
}
a:active, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
a {
    text-decoration: none;
    -webkit-transition: all .1s ease-in 0s;
    transition: all .1s ease-in 0s;
}
a:focus {
    outline: none;
}
ul li {
    list-style-type: none;
}
img:not([src]):not([srcset]) {
    visibility: hidden;
}

.icon-arrow {
    z-index: 3;
    width: 0.587rem;
    height: 0.587rem;
    background: url(/static/upload/images/icons/arrow-down.svg) -0.027rem -0.027rem no-repeat;
    background-size: 0.614rem 0.64rem;
    -webkit-background-size: 0.614rem 0.64rem;
    align-self: flex-start;
    margin-left: 0.054rem;
  }

.icon-arrow.left{
    transform:rotate(90deg);
}

.btn-close{
    width:0.427rem;
    height:0.427rem;
    border-radius: 0.11rem;/*0.25rem*/
    background: url(/static/upload/images/icons/bnClose.svg) center no-repeat;
    opacity: 1;
}
bn-search{
    background: url(/static/upload/images/icons/bnSearch.svg) center no-repeat;
}

.list-inline-item{
    font-size: 0.444rem;
    margin: 0px;
    margin-right:0.278rem;
    margin-right:0px;
    padding: 0.05rem 0.5rem;
    line-height: 0.6rem;
    border:1px solid black;
}
.list-inline-item:not(:last-child) {
    margin-right:0px;
}
.breadcrumb-item,
.list-inline-word:hover,
.list-inline-item:hover{
    cursor: pointer;
}
.breadcrumb-item a,.breadcrumb-item a:active, .breadcrumb-item a:link, .breadcrumb-item a:visited,
.list-inline-word a,.list-inline-word a:active, .list-inline-item a:link, .list-inline-item a:visited,
.list-inline-item a:active, .list-inline-item a:link, .list-inline-item a:visited{
    color: inherit;
    text-decoration: none;
}
.list-inline-word:not(:last-child)::after{
    content:"，";
}
.list-inline.artists{
    display: flex;
    flex-wrap: wrap;
}
/* offcanvas滚动条pc样式 */
@media only screen and (min-width: 768px) {
    ::-webkit-scrollbar { /* 滚动条整体样式 */
        width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 5px;
    }
    ::-webkit-scrollbar-thumb { /* 滚动条里面小方块 */
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #999999;
        /* transition-property: box-shadow; */
        /* transition-duration: .5s; */
    }
    ::-webkit-scrollbar-track { /* 滚动条里面轨道 */
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
        border-radius: 5px;
        /* transition-property: box-shadow; */
        /* transition-duration: .5s; */
    }    
    .offcanvas-body::-webkit-scrollbar { /* 组件内滚动条不显示 */
        display: none;
    }
    .offcanvas-body:hover::-webkit-scrollbar { /* 悬停时滚动条才显示 */ 
        display: block; 
    }
}

.offcanvas{
    border:none;
}
.offcanvas-body {
    /* ios */
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll; 
    overflow-y: overlay; 
    overflow-x: hidden;
} /* 需要滚动的地方加上这个class */
/* 
.offcanvas-body::after{
    content:"";
    min-height: calc(100% + 1px);
    width:0px;
}
*/
.offcanvas-header {
    /* width: 0.667rem; */
    /* height: 0.694rem; */
    line-height: 0.56rem;
    /* margin-top: calc(24 * 1rem / 26); */
    margin-top:0px;
    margin-bottom:2.1rem;
    padding: 0px;
    justify-content: space-between;
    /* width: 0.667rem; */
    /* height: 0.694rem; */
    /* font-size: 0.668rem; */
    /* line-height: 0.56rem; */
    /* margin-top: 0.88rem; */
    /* margin-bottom:2.1rem; */

}
.offcanvas-header .btn{
    opacity: 1;
    color:inherit;
    flex:0;
    min-width: 2.7rem;
    min-height: 2.7rem;
    margin: 0px;
    padding: 0px;
}
/* 搜索按钮 */
.offcanvas-header .btn-search{
    overflow: visible;
    height:0px;
    display:flex;
    justify-content: center;
    align-items: center;

    /* width: 0.667rem;
    height: 0.694rem;
    font-size: 0.668rem;
    line-height: 0.56rem; */

}
.offcanvas-header .btn-search::after{
    content:"";
    display:block;
    padding-bottom: 100%;
} 

.offcanvas-header i.fa.fa-search{
    width: 0.667rem;
    height: 0.694rem;
    /* font-size: 0.668rem; */
    line-height: 0.56rem;
}
.offcanvas-header .btn-close{
    /*
    display:block;
    padding: .214rem .214rem;
    margin-top: -.214rem;
    margin-right: -.214rem;
    margin-bottom: -.214rem;
    */
    /* background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat */
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: auto;
    background-size: 0.8rem;

}
.offcanvas-header .btn-close:active, 
.offcanvas-header .btn-close:focus, 
.offcanvas-header .btn-close:active:focus, 
.offcanvas-header .btn-close.active:focus,
.offcanvas-header .btn-close.focus, 
.offcanvas-header .btn-close:active.focus, 
.offcanvas-header .btn-close.active.focus {
	outline: none;
    box-shadow: none;
}
.offcanvas-body{
    padding-top: 0px;
}
@media (min-width: 768px) {
    .offcanvas-header {
        line-height: 0.56rem;
        /* margin-top: calc(30 * 1rem / 36); */
        margin-bottom:2.1rem;
      }

    .offcanvas-header .btn{
        min-width:var(--header-btn-height,53px);
        min-height:var(--header-btn-height,53px);
    }

}


/* 通用交互效果 */
.hoverUnderline:not(:hover){
    text-decoration: none;
}
.hoverUnderline:hover{
    text-decoration: underline;
}
.outUnderline:not(:hover){
    text-decoration: underline!important;
}
.outUnderline:hover{
    text-decoration: none!important;
}
.noSelect{
    user-select: none;
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
/* 通用视频播放按钮 */
.videoWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.videoWrapper:hover::before{
    border-color: rgba(255, 255, 255, 0.6);
}
.videoWrapper:active::before,
.videoWrapper::before{
    content:"";
    display:block;
    position: absolute;
    z-index: 1;
    padding-bottom: min(2rem,12%);
    box-sizing: content-box;
    width: min(2rem,12%);
    border-radius: 50%;
    border-width: max(1px,0.03rem);
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(0,0,0,0.3);
}
.videoWrapper:hover::after{
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.6);
}
.videoWrapper:active::after,
.videoWrapper::after{
    content:"";
    position: absolute;
    z-index: 2;
    /* padding-bottom: 5%; */
    /* box-sizing: content-box; */
    width: 0.88rem;
    height: 0.88rem;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    border-width: .4rem 0 .4rem 0.66rem;
    transform: translateX(.2rem);
}
/**/
.videoWrapper:hover img{
    filter: brightness(1);
}
.videoWrapper:active img,
.videoWrapper img{
    transition: filter;
    transition-duration: .5s;
    filter: brightness(.45);
}
.videoWrapper span.title{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width:calc(100% - 40px);
    text-decoration: inherit;
}

/* modal */
.modal{
    background-color: rgba(0,0,0,.8);
}

#modalImagePreview .modal-dialog{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}
#modalImagePreview .modal-content{
    background-color: transparent;
    width:auto;
}
#modalImagePreview img{
    max-width: 100vw;
    max-height:calc(var(--vh, 1vh) * 100);
    width:auto;
    height:100%;
    object-fit: contain;
}


/* loading */
loading{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
  }
  loading::after{
    content:"Loading...";
    display:block;
    font-size: 0.5rem;
    line-height: 2rem;
  }
  loading line{
    stroke:black;
  }  


  /* error */
  .error .title{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    position: relative;
    top: calc(50vh - 4rem);
  }
  .error .message.textJustify{
    font-size: 0.3rem;
    letter-spacing: 0.1rem;
    /* width: 7.8rem; */
    height: 0.8rem;
    padding-right: 0.7rem;
  }
  .error .bnBack{
    width: calc(180 * 1rem / 36);
    height: calc(60 * 1rem / 36);
    /* border: 1px solid #FDFDFD; */
    border: 1px solid black;
    border-radius: calc(60 * 1rem / 36 / 2);
    margin-top: calc(44 * 1rem / 36);
    margin-top: 24px;
    margin-bottom: calc(44 * 1rem / 36);
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    cursor: pointer;
    position: relative;
    top: calc(50vh - 4rem);
  }

/* 空白页面 文字两端对齐*/
.textJustify{
    text-align: justify;
    width:100%;
    height:100%;
}
.textJustify::after{
    width: 100%;
    display: inline-block;
    height:0rpx;
    content: ''; /*这三个都不可以少*/
}

/* logo图鼠标指针 */
.navbar-brand{
    cursor: pointer;
}  

/* 应对屏幕缩放 */
/**/
@media all
and (-moz-min-device-pixel-ratio: 1.09) and (-moz-max-device-pixel-ratio: 1.18) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 1.09) and (-webkit-max-device-pixel-ratio: 1.18) and (min-width: 768px),
    (min-resolution: 1.09dppx) and (max-resolution: 1.18dppx) and (min-width: 768px){
    :root {
        font-size: calc(1 * 36px / 1)!important;
    }
}

@media all
and (-moz-min-device-pixel-ratio: 1.19) and (-moz-max-device-pixel-ratio: 1.28) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 1.19) and (-webkit-max-device-pixel-ratio: 1.28) and (min-width: 768px),
    (min-resolution: 1.19dppx) and (max-resolution: 1.28dppx) and (min-width: 768px) {
    :root {
        font-size: calc(1 * 36px / 1.1)!important;
    }
}
@media all
and (-moz-min-device-pixel-ratio: 1.29) and (-moz-max-device-pixel-ratio: 1.4) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 1.29) and (-webkit-max-device-pixel-ratio: 1.4) and (min-width: 768px),
    (min-resolution: 1.29dppx) and (max-resolution: 1.4dppx) and (min-width: 768px) {
    :root {
        font-size: calc(1 * 36px / 1.2)!important;
    }
}
/*
*/
@media all
and (-moz-min-device-pixel-ratio: 1.41) and (-moz-max-device-pixel-ratio: 1.6) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 1.41) and (-webkit-max-device-pixel-ratio: 1.6) and (min-width: 768px),
    (min-resolution: 1.41dppx) and (max-resolution: 1.6dppx)  and (min-width: 768px){
    :root {
        font-size: calc(1 * 36px / 1.3)!important;
    }
}
@media all
and (-moz-min-device-pixel-ratio: 1.61) and (-moz-max-device-pixel-ratio: 1.8) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 1.61) and (-webkit-max-device-pixel-ratio: 1.8) and (min-width: 768px),
    (min-resolution: 1.61dppx) and (max-resolution: 1.8dppx)  and (min-width: 768px){
    :root {
        font-size: calc(1 * 36px / 1.5)!important;
    }
}
@media all
and (-moz-min-device-pixel-ratio: 1.81) and (-moz-max-device-pixel-ratio: 2) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 1.81) and (-webkit-max-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 1.81dppx) and (max-resolution: 2dppx) and (min-width: 768px) {
    :root {
        font-size: calc(1 * 36px / 1.7)!important;
    }
}
@media all
and (-moz-min-device-pixel-ratio: 2.01) and (-moz-max-device-pixel-ratio: 2.2) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 2.01) and (-webkit-max-device-pixel-ratio: 2.2) and (min-width: 768px),
    (min-resolution: 2.01dppx) and (max-resolution: 2.2dppx) and (min-width: 768px) {
    :root {
        font-size: calc(1 * 36px / 2)!important;
    }
}
@media all
and (-moz-min-device-pixel-ratio: 2.21) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 2.21) and (min-width: 768px),
    (min-resolution: 2.21dppx)  and (min-width: 768px){
    :root {
        font-size: calc(1 * 36px / 2.5)!important;
    }
}