{% from "./compListTags.html" import listTags %}
<!--
约定post为文档列表数据集合
item为子元素集合
-->
<div class="row border border-light text-light bg-dark" style="">
    <div class="col" style="">
        <div class="row p-2" style="">
            <a href="{{item.url}} " target="_blank " class="">
                <img src="{{item.sImg}} " class="img-fluid rounded-circle" alt="{{item.title}} " />
            </a>
        </div>
        {# 艺人列表模式，名称在下 #}
        {% if pageInfo.itemTemplate != "timeline" %}
        <div class="row p-2 border-top border-light" style="">
            <h2 class="" alt="{{site.altkey}}{{item.name}}">
                <a href="{{item.url}} " target="_blank " class="text-light">
                    {{item.name}}
                </a>
            </h2>
        </div>
        {% endif %}
    </div>
    {# 时间轴模式，名称在右tags #}
    {% if pageInfo.itemTemplate == "timeline" %}
    <div class="col-md-5 border-start border-light" style="">
        <div class="row pt-2" style="">
            <span class="" alt="{{site.altkey}}{{item.name}}">
                <a href="{{item.url}} " target="_blank " class=" text-light">
                    <u>{{item.name}}</u>
                </a>
            </span>
        </div>
        <div class="row pb-2" style="">
            <span class="" alt="{{site.altkey}}{{item.name}}">
                <a href="{{item.url}} " target="_blank " class=" text-light">
                    签约赤瞳
                </a>
            </span>
        </div>
        {# 标签 #}
        <div class="row py-2" style="">
            {{listTags(item.tags,"text-light")}}
        </div>
    </div>
    {% endif %}
</div>