{# 横滚乐队名 #}
<div id="coverArtistsWrapper" class="d-none bs-wrapper-listArtist paddingTop paddingTop-md">                        
    <div class="bs-content-listArtist">
        {% for artist in listArtists %}
        {# 乐队名列表 #}
        {# <h1 class="display-1">RUBY</h1> #}
        <div class="artist artist-md d-flex align-items-center ">
            <a href="{{artist.url}} " target="_blank ">
                {{artist.name}}
            </a>
            <button 
                tabindex="0"
                class="noticeCnt d-flex flex-shrink-0 justify-content-center border border-1 border-dark rounded-circle" 
                data-bs-toggle="tooltip" 
                data-bs-html="true" 
                title="<div>演出回顾|重庆巡回</div><div>专辑发布|永无宁日RURBUR-Evening Sitdown Vision</div>">
                +2
            </button>
        </div >
        {% endfor %}
        {# 最后一列占宽用 #}
        <div class="artist artist-md d-flex align-items-center"></div>
    </div>
    {# 乐手列表 #}
    <script>
        let $coverArtistsWrapper=document.getElementById("coverArtistsWrapper");
        let eShow=function(e){
            if(e.target.tooltip)e.target.tooltip.show();
        }
        let eHide=function(e){
            if(e.target.tooltip)e.target.tooltip.hide();
        }
        var tooltipTriggerList = [].slice.call($coverArtistsWrapper.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            let tooltip = new bootstrap.Tooltip(tooltipTriggerEl,{
                boundary: $coverArtistsWrapper, // or document.querySelector('#boundary')
                container:tooltipTriggerEl,//$coverArtistsWrapper.querySelector(".bs-content-listArtist"),
                //trigger:"hover focus",
                trigger:"manual",
            })
            tooltipTriggerEl.tooltip=tooltip;
            tooltipTriggerEl.addEventListener('hidden.bs.tooltip', function (e) {
                this.classList.remove("now");
            })
            tooltipTriggerEl.addEventListener('show.bs.tooltip', function (e) {
                this.classList.add("now");
            })
            tooltipTriggerEl.addEventListener("touchstart",eShow);
            tooltipTriggerEl.addEventListener("mouseenter",eShow);

            tooltipTriggerEl.addEventListener("mouseleave",eHide);
            //tooltipTriggerEl.addEventListener("touchcancel",tooltipTriggerEl.tooltip.show);
            
            return tooltip;
        })
        let slideListArtist = new BetterScroll.createBScroll('.bs-wrapper-listArtist', {
            //specifiedIndexAsContent:1,
            disableMouse: false,
            disableTouch: false,
            mouseWheel: true,
            scrollX: true,
            startX:-1,
            scrollY: false,
            //nestedScroll: {
            //    groupId: 'cover-scrollY'
            //},
            //slide: {
            //    threshold: 100,
            //    loop: false,//TODO：可以优化为循环slide；注意：复制出来的slide需要querySelector and 设置translateY同步
            //    autoplay:false,
            //    listenFlick:false,
            //},
            useTransition: true,
            momentum: true,
            bounce: true,
            //stopPropagation: true,
            click:true,
            probeType: 3,
            observeDOM: true ,// 开启 observe-dom 插件
        })
        $coverArtistsWrapper.addEventListener("click",(e)=>{
            if(e.isTrusted)return;
            tooltipList.forEach((tooltip)=>{
                tooltip.hide();
            })
            //$coverArtistsWrapper.querySelector(".noticeCnt.now").classList.remove("now")
        },false)
        {# slideListArtist.refresh(); #}
        slideListArtist.on('contentChanged', (newContent) => {
            slideListArtist.refresh();
            window.alert("beforeScrollStart");
        })
        slideListArtist.on('beforeScrollStart', slideListArtist.refresh)

    </script>  
</div>