{# 时间轴列 #}
{% from "./compListTags.html" import listTags %}
        {% for month, colItems in posts|groupby("dateYYYYM") %}
        <div class="container-mm d-flex flex-column" data-mm="{{colItems[0].dateYYYYM|trim}}">
            {# 月份行 手机隐藏#}
            <div class="month d-md-flex d-none">
                {{colItems[0].dateMM}}
            </div>
            <div id="bsWrapperMM{{month|trim}}" class="wapper-mm wapper-mm-md" style="white-space:normal;" dr-bs-wrapper="mm-{{month|trim}}" ms-controller="{{month|trim}}">
                {# 纵向滚动组件 #}
                <div class="d-flex flex-column" >
                    <div class="pulldown-tip"></div>
                    {# 日期纵向滚动容器 #}
                    {# 日期内容区 #}

                    {% for item in colItems %}
                    <div class="item {{item.docAlias if item.docAlias else 'Content'}}" dr-date-doc="{{item.dateFull}}">
                        {# 图 手机图 #}
                        <div id="timelineTitleImg{{item._id}}" class="imgContainer" onclick="window.goto('{{item.url}}')">                        
                            <img data-src="{{item.sImg}}" alt="{{item.nameTimeline}}"  class="lazy img-fluid" dr-id-doc="img{{item._id}}"/>
                        </div>

                        {# 内容&标题预览 #}
                        <div class="titleContainer">
                            {# 日期 #}
                            {# <div class="col-auto date">{{item.dateTimeline}}</div> #}
                            {# 大标题 #}
                            <p class="title">{{item.dateTimeline}}<br><span class="nameArtists">{{item.nameArtists}}<br></span><a class="{{item.docAlias if item.url else 'fake'}}" onclick="window.goto('{{item.url}}')">{{item.nameTimeline}}</a></p>
                            {# 标签 #}
                            <div class="tags">
                                {{listTags(item.tags)}}
                            </div>
                            <div class="tags records">
                                {{listTags(item.listFormatTags)}}
                            </div>
                            {# 图 手机隐藏纵向图 #}
                            <div id="timelineTitleImg{{item._id}}" class="imgContainer" onclick="window.goto('{{item.url}}')">                        
                                <img data-src="{{item.sImg}}" src="/static/upload/images/defaultlogo.png" width="100%" height="100%" alt="{{item.nameTimeline}}"  class="lazy img-fluid" dr-id-doc="img{{item._id}}"/>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                <script>
                    this.$listBSMM.push(document.getElementById("bsWrapperMM{{month|trim}}"));
                    this.resetBSMM(this.$listBSMM[this.$listBSMM.length-1]);
                </script>
            </div>
        </div>
        {% endfor %}
