{# 横滚乐队名 #}
<div id="coverArtistsWrapper" class="bs-wrapper-listArtist">                        
    <div class="bs-content-listArtist listArtists">
        {% for artist in listArtists|sort(false,false,"letters") %}
        {# 乐队名列表 #}
        {# <h1 class="display-1">RUBY</h1> #}
        <div class="artist d-flex align-items-center ">
            {# <div class="fixed"><div class="sImg"><img src="{{artist.sImg}}" width="0px" data-src="{{artist.sImg}}" alt="{{artist.nameTimeline}}"  class="img-fluid"/></div></div> #}
             
            <button 
                class="name btn btn-link hoverUnderline" 
                data-dr-url="{{artist.url}}"
                onclick="window.goto('{{artist.url}}')">
                <span 
                    tabindex="0"
                    data-bs-toggle="tooltip" 
                    data-bs-html="true" 
                    data-s-img="{{artist.sImg}}"
                    title=' '>
                    {{artist.name}}
                </span>
            </button>
            {% if artist.listNotices.length > 0%}
            <button 
                tabindex="0"
                class="noticeCnt" 
                data-bs-toggle="tooltip" 
                data-bs-html="true" 
                title=' '>
                +{{artist.listNotices.length}}
            </button>
            {% for doc in artist.listNotices %}<div class="notice hoverUnderline d-none" data-dr-url="{{doc.url}}">{{doc.nameTimeline}}</div>{% endfor %}
            {% endif %}
            <img data-src="{{artist.sImg}}" width="0px" alt="{{artist.nameTimeline}}" class="sImg img-fluid d-none" onerror="this.style.display='none'"/>
        </div >
        {% endfor %}
        {# 最后一列占宽用 #}
        <div class="artist d-flex align-items-center"></div>
        <script>
        let $listArtists=document.getElementById("coverArtistsWrapper").querySelectorAll(".artist");
        $listArtists.forEach($artist=>{
            var $listNameArtists = $artist.querySelectorAll('.name [data-bs-toggle="tooltip"]');
            if(!$listNameArtists)return;
            $listNameArtists.forEach(function ($nameArtist) {
                {# 移动端不做操作 #}
                if(that.isMobile)return;
                if($nameArtist.tooltip && $nameArtist.tooltip.dispose)$nameArtist.tooltip.dispose();
                let strClass=Math.random()>0.5 ? "sImg verticle" : "sImg";
                let tooltip = new bootstrap.Tooltip($nameArtist,{
                    trigger:"manual",
                    customClass:strClass,
                    offset:[20,0],
                    popperConfig:{
                        placement: 'top-start',
                        modifiers:[
                            {
                                name: 'preventOverflow',
                                options: {
                                    mainAxis: true, // true by default
                                    boundary: document.getElementById("coverArtistsWrapper"),
                                },
                            },
                        ]                                           
                    }
                })
                tooltip.$sImg=$artist.querySelector(".sImg");
                tooltip.$sImg.src=tooltip.$sImg.dataset['src'];
                tooltip.$sImg.classList.remove("d-none");
                $nameArtist.tooltip=tooltip;
                $nameArtist.addEventListener('shown.bs.tooltip', function (e) {
                    let tooltip=e.target.tooltip;
                    if(tooltip && tooltip.$sImg){
                        let $inner=tooltip.tip.querySelector(".tooltip-inner");
                        let $dom=tooltip.$sImg.cloneNode(true);
                        //let $dom=new Image();
                        //$dom.src=tooltip.$sImg.src;
                        $inner.append($dom);
                        $dom.decode().then(() => {
                            $dom.classList.add("loaded");
                        }).catch((encodingError) => {
                        // Do something with the error.
                        })
                        //function eLoad(e){
                        //    let $sImg=e.currentTarget;
                        //    $inner.append($sImg);
                        //    $sImg.classList.add("loaded");
                        //}
                        //if($dom.complete)eLoad({currentTarget:$dom})
                        //else $dom.addEventListener("load",eLoad)
                    }
                })
                $nameArtist.addEventListener("mousemove",(e)=>{
                    let tooltip=e.target.tooltip
                    if(tooltip && !tooltip.tip.classList.contains("show")){
                        tooltip.tip.classList.add("show");
                    }
                });
                $nameArtist.addEventListener("mouseenter",(e)=>{
                    let tooltip=e.target.tooltip
                    if(tooltip){
                        tooltip.show();
                    }
                });

                $nameArtist.addEventListener("mouseleave",(e)=>{
                    let tooltip=e.target.tooltip
                    if(tooltip)tooltip.hide();
                });
                return tooltip;
            })

        })
        this.addEventListener("NAV_TO",(e)=>{
            if(!that.isMobile){
                $listArtists.forEach($artist=>{
                    var $listNameArtists = $artist.querySelectorAll('.name [data-bs-toggle="tooltip"]');
                    if(!$listNameArtists)return;
                    $listNameArtists.forEach($nameArtist=>{
                        if($nameArtist.tooltip && $nameArtist.tooltip.tip && !$nameArtist.tooltip.tip.hidden)$nameArtist.tooltip.hide();
                    });
                });
            }
        });
        </script>
    </div>
    {# 乐手列表 #}
    <script>
        let $coverArtistsWrapper=document.getElementById("coverArtistsWrapper");

        let slideListArtist = new BetterScroll.createBScroll('.bs-wrapper-listArtist', {
            //specifiedIndexAsContent:1,
            disableMouse: false,
            disableTouch: false,
            mouseWheel: true,
            scrollX: true,
            //startX:-1,
            scrollY: false,
            //nestedScroll: {
            //    groupId: 'cover-scrollY'
            //},
            //slide: {
            //    threshold: 100,
            //    loop: false,//TODO：可以优化为循环slide；注意：复制出来的slide需要querySelector and 设置translateY同步
            //    autoplay:false,
            //    listenFlick:false,
            //},
            useTransition: true,
            momentum: true,
            bounce: true,
            //stopPropagation: true,
            click:true,
            //tap:"tap",
            //preventDefaultException:{ tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|AUDIO|A)$/},
            probeType: 3,
            observeDOM: true ,// 开启 observe-dom 插件
        })

        {# slideListArtist.on('beforeScrollStart', slideListArtist.refresh) #}

        eInitTooltip($coverArtistsWrapper,"top-start",$coverArtistsWrapper);
        //slideListArtist.on("scroll",()=>{
        //    if(!$coverArtistsWrapper.tooltipList)return;
        //    $coverArtistsWrapper.tooltipList.forEach((tooltip)=>{
        //        if(tooltip && tooltip.tip && !tooltip.tip.hidden){
        //            tooltip.update();
        //        }
        //    });
        //})
        slideListArtist.hideTootip=function(){
            if(!$coverArtistsWrapper.tooltipList)return;
            $coverArtistsWrapper.tooltipList.forEach((tooltip)=>{
                if(tooltip && tooltip.tip && !tooltip.tip.hidden){
                    tooltip.hide();
                }
            });
        }
        slideListArtist.on('scrollStart', slideListArtist.hideTootip);
        $coverArtistsWrapper.addEventListener("click",(e)=>{
            if(e.isTrusted)return;
            slideListArtist.hideTootip(e);
        },false)
        this.addEventListener("NAV_TO",slideListArtist.hideTootip);
    </script>  
</div>