
{% macro tag(name,href) %}
    <li class="list-inline-item px-3 rounded-pill border text-truncate"><a href="{{href}}" class="">{{name}}</a></li>
{% endmacro %}

{% macro listTags(listTags,class="") %}
    {% if listTags.length>0%}
        <ul class="list-inline">
            {% for tag in listTags %}
                <li class="list-inline-item  px-3 rounded-pill border text-truncate"><a href="{{tag.url}}" class="{{class}}">{{tag.name}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
