
{% macro timelineBar(objTimeline,class="") %}
    {# {% if objTimeline.length>0%} #}
            <svg width="100%" height="100px">
                <rect width="100%" height="5%" fill="gray" />
                {% for idxDays in objTimeline.listIdxDays %}
                    <rect x="{{idxDays}}%" width="{{objTimeline.widthPercent}}%" height="5%" fill="ghostwhite" />
                {% endfor %}
                {% for season in objTimeline.listIdxSeasons %}
                    <rect x="{{season.x}}%" y="10%" width="0.2%" height="15%" fill="black" />
                {% endfor %}
                {% for year in objTimeline.listIdxYears %}
                    <text x="{{year.x}}%" y="80%" class="display-4" style="text-anchor: middle;">{{year.strTitle}}</text>
                {% endfor %}
           </svg>
    {# {% endif %} #}
{% endmacro %}

{% macro timelineBarDocs(objTimeline,isExpend=false) %}
    {# {% if objTimeline.length>0%} width="82.3%" #}
            <svg id="svgTimelineBar" width="{{objTimeline.cntDays*4}}px" class="timelineBarClose" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <rect id="svgD" width="4px" height="16px" fill="#231F20" />
                </defs>
                {# {% for idxDays in objTimeline.listIdxDays %} #}
                    {# <rect x="{{idxDays}}%" width="{{objTimeline.widthPercent*0.5}}%" height="16px" fill="#231F20" /> #}
                    {# <use  x="{{idxDays}}%" href="#svgD"/> #}
                {# {% endfor %} #}
                {% if isExpend %}
                    {% for season in objTimeline.listIdxSeasons %}
                        <rect id="timelineSeason{{season.strTitle}}" x="{{season.x}}%" class="b-s" />
                    {% endfor %}
                    {% for year in objTimeline.listIdxYears %}
                        <g id="timelineBarYearGroup{{year.strTitle}}" width-year={{year["width-year"]}} width="4px" height="16px" fill="#231F20">
                            {% for doc in year.listIdxDocs %}
                                {# <rect x="{{idxDays}}%" width="{{objTimeline.widthPercent*0.5}}%" height="16px" fill="#231F20" /> #}
                                <rect class="b-d" x="{{doc.posX}}%" id="b{{doc.date}}"/>
                            {% endfor %}
                            {# <text x="{{year.x}}%" y="80%" class="display-4" style="text-anchor: middle;">{{year.strTitle}}</text> #}
                            <rect id="timelineBarYear{{year.strTitle}}" x="{{year.x}}%" width="0px"/>
                        </g>
                    {% endfor %}
                {% endif %}
           </svg>
    {# {% endif %} #}
{% endmacro %}
