
{% macro tag(name,href) %}
    <li class="list-inline-item px-3 rounded-pill border text-truncate hoverUnderline" onclick="window.goto('{{href}}')">{{name}}</li>
{% endmacro %}

{% macro listTags(listTags,class="") %}
    {% if listTags.length>0%}
        <ul class="list-inline">
            {% for tag in listTags %}
                <li class="list-inline-item rounded-pill border text-truncate hoverUnderline" onclick="window.goto('/search?q={{tag.name}}')">{{tag.name}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
