{% from "./compListTags.html" import listTags %}
<!--
约定documentList.docs为文档列表数据集合
item为子元素集合
-->
    {# 时间轴模式，名称在右tags #}
    {% if pageInfo.itemTemplate == "timeline" %}
    <div class="row pt-2">
        <a href="{{item.url}} " target="_blank " >
            <h1 class="display-6 text-truncate" alt="{{site.altkey}}{{item.name}}">
                <u class="">{{item.name}}</u>
            </h1>
        </a>
    </div>
    {# 标签 #}
    <div class="row my-3 mb-3" >
        {{listTags(item.tags)}}
    </div>
    {% endif %}
    {# 图和简介 #}
    {% if item.discription %}
    <div class="row py-2 border-top border-dark">
        {# 图 #}
        <div class="col-md-8">
            <a href="{{item.url}} " target="_blank " class="text-center "><img src="{{item.sImg}} " class="img-fluid w-100" alt="{{item.name}} " /></u></a>
        </div>
        <div class="col-md-4" >
            <h4>{{item.alias}}</h4>
            <article >{{item.discription}}</article>
        </div>
    </div>
    {% endif %}

