<!--头部模板-->
<script>
    if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        //document.write("<script src='{{staticThemePath}}/js/iscroll/iscroll.js'><" + '/' + "script>");
        //$(function () {
        //    new IScroll('#navWrapper', {
        //        scrollX: true,
        //        scrollY: false,
        //        mouseWheel: true,
        //        click: true
        //    });
        //})
    }
    // We listen to the resize event
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    function getBrowserInterfaceSize() {
        var pageWidth = window.innerWidth;
        var pageHeight = window.innerHeight;

        if (typeof pageWidth != "number") {
            //在标准模式下面
            if (document.compatMode == "CSS1Compat" ) {
                pageWidth = document.documentElement.clientWidth;
                pageHeight = document.documentElement.clientHeight;
            } else {
                pageWidth = document.body.clientWidth;
                pageHeight = window.body.clientHeight;
            }
        }

        return {
            pageWidth: pageWidth,
            pageHeight: pageHeight
        }
    }
    //document.querySelector("#coverArtistsWrapper").on
    /*
    if (document.readyState === 'loading') {  // 此时加载尚未完成
        document.addEventListener('DOMContentLoaded', doSomething);
    } else {  // 此时`DOMContentLoaded` 已经被触发
        //doSomething();
    }
    */
    // Then we set the value in the --vh custom property to the root of the document
    function refreshVH(){
        {# vh = window.innerHeight * 0.01; #}
        {# if(slideListArtist)slideListArtist.refresh(); #}
        vh = getBrowserInterfaceSize().pageHeight*0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
        if(this.slideCover)this.slideCover.refresh();
    }
    refreshVH();
    window.addEventListener('load', refreshVH);
    window.addEventListener('resize', refreshVH);

    {# 更新导航状态 #}
    this.header={
        funSetNav:function(strAliasNav="timeline"){
            let listBnNav=document.querySelectorAll("[dr-dom-nav-bn]");
            listBnNav.forEach(bn=>{
                bn.setAttribute("aria-selected", "false");
                bn.classList.add("bg-light","text-dark");
                bn.classList.remove("bg-dark","text-light");
            })
            if(strAliasNav!="index"){
                {# 设置当前导航按钮 #}                
                let bnNav=document.querySelectorAll("[dr-dom-nav-bn="+strAliasNav+"]");
                bnNav.forEach(bn=>{
                    bn.setAttribute("aria-selected", "true");
                    bn.classList.remove("bg-light","text-dark");
                    bn.classList.add("bg-dark","text-light");

                })
            }else{
            }
        },
        listNav:[
            {% for cate in navigation %} {% if cate.parentId == '0' %}
            {
                defaultUrl:"{{cate.defaultUrl}}",
                url:"{{cate.url}}",
                name:"{{cate.name}}"
            },
            {% endif %} {% endfor %}
        ],
        get strAliasNav(){
            let path=window.location.pathname.split("/")[1];///artists___KuvrGBz9e
            let strAliasNav=path.split("__")[0];
            return strAliasNav;
        },
        get idxNav(){let idx=this.listNav.findIndex(v=>(v.defaultUrl==this.strAliasNav));return idx==-1?0:idx;},
        get objNav(){return this.listNav[this.idxNav]},
    };
</script>
{# 导航相关控制&监听 #}
<script>
    {# pushState和replaceState被调用时，是不会触发触发 popstate 事件的解决方案 #}
    const listener = function (type) {
        var orig = history[type];
        return function () {
            var rv = orig.apply(this, arguments);
            var e = new Event(type);
            e.arguments = arguments;
            window.dispatchEvent(e);
            return rv;
        };
    };
    window.history.pushState = listener('pushState');
    window.history.replaceState = listener('replaceState');
    //应用事件
    window.addEventListener('pushState', ePopStateHeader, false);
    window.addEventListener('popstate', ePopStateHeader, false);
    window.addEventListener('replaceState', ePopStateHeader, false);
    window.addEventListener('DOMContentLoaded', ePopStateHeader, false);

    function ePopStateHeader(event){
        
        console.log("window.popstate::",event.type,"strAliasNav=",this.header.strAliasNav);
        {# 非首页需要跳转相应页 #}
        if(event.type =="DOMContentLoaded" || event.type =="Load"){
            {# 导入页显示 #}                
            this.header.funSetNav("index");
            //首页则显示SlideCover
            $('.bs-wrapper-cover').show();

        }else{
            {# 更新导航状态 #}
            this.header.funSetNav(this.header.strAliasNav);
            {# $('.bs-wrapper-cover').hide(); #}
            
        }
    }
    const eBnNav=function(strAliasNav){
        let currentPageIndex=this.header.listNav.findIndex(v=>(v.defaultUrl==strAliasNav));
        if(currentPageIndex>=0){
            {# 先改地址 #}
            window.history.pushState({}, "{{site.title}}|"+ this.header.listNav[currentPageIndex].name, this.header.listNav[currentPageIndex].url);//设置状态
            {# 内容页跳转 #}
            slideMain.goToPage(this.header.idxNav,0);
            {# 封面收起 #}
            this.slideCover.goToPage(0,1);
        }
    }
</script>

<input type="hidden" value="{{userInfo._id}}" id="userId">
<input type="hidden" value="{{logined}}" id="logined">
<input type="hidden" value="{{tokenId}}" id="tokenId">
{% if site.lang == 'zh-TW' %}
{% set homelink = '/zh-TW' %}
{% set endStr = '_zh-TW' %}
{% else %}
{% set homelink = '/zh-CN' %}
{% set endStr = '' %}
{% endif %}

{# <header class="clearfix" id="header" ms-controller="headerCtr"> #}
{# <div id="navHeader" class="container-fluid position-absolute heightNav" style="" > #}
<div id="navHeader" class="" >

    {# PC版显示 #}
    <!--
    <div class="row d-none d-md-block " ms-controller="headerCtr">
        <div class="row justify-content-between p-4">
            {# <h1 class="display-6 text-white">赤瞳音乐</h1> #}
            <div class="col-4 ms-4">
                <a class="logo d-flex" href="#"><img class="img-fluid" src="{{site.logo}}" alt="{{site.title}}"/></a>
                {# <span class="text-muted">Toggleable via the navbar brand.</span> #}
            </div>
            {# 中部菜单 #}
            <div id="navMenuBnGroup" class="col d-flex flex-row justify-content-center align-items-center">
                <span class="px-3 rounded-pill border text-truncate">中文</span>
                <span class="px-3 rounded-pill border text-truncate">EN</span>
            </div>

            {# search #}
            <div class="col-3 input-group input-group-lg w-auto" :class="['input-area',(@activeSearch? 'active':'')]">
                {# <input ms-on-keyup="@onKeyUp" type="text" class="form-control" ms-duplex="@searchkey" placeholder="Search">                             #}
                <span class="input-group-text"><i ms-click='@searchMe' class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    -->


    {# toggle内容上部分 #}
    <nav class="navbar navbar-expand-md d-flex flex-nowrap justify-content-between navbar-light bg-transparent sticky-top" ms-controller="headerCtr" style="">
        {# <div class="row"> #}
            <div class="d-flex" style="flex:0 1 46px;min-width: 22px;"></div>
            {# logo&name #}
            <div class="navbar-brand">
                <a class="d-flex" data-bs-toggle="offcanvas" href="#offcanvasRight"><img class="img-fluid" src="{{site.logo}}" alt="{{site.title}}"/></a>
            </div>
            {# collapse  nav&search #}
            <div class="collapse navbar-collapse collapseNav-md">
                <ul class="navbar-nav navbar-nav-scroll d-flex justify-content-start flex-wrap">
                    {% for cate in navigation %} {% if cate.parentId == '0' %}
                    <li class="nav-item text-nowrap rounded-pill border" role="presentation" dr-dom-nav-bn="{{cate.defaultUrl}}">
                        <a class="nav-link" style="color: inherit" role="menuitem" tabindex="-1" alt="{{site.altkey}}{{cate.name}}"
                            href="javascript:void(0)" onclick="eBnNav('{{cate.defaultUrl}}')" name="{{cate.defaultUrl}}">{{cate.name}}</a>
                    </li>
                    {% endif %} {% endfor %}
                </ul>
                {# search #}
                <div class="input-group input-group-lg w-auto d-flex" :class="['input-area',(@activeSearch? 'active':'')]">
                    {# <input ms-on-keyup="@onKeyUp" type="text" class="form-control" ms-duplex="@searchkey" placeholder="Search">                             #}
                    <span class="input-group-text"><i ms-click='@searchMe' class="fa fa-search"></i></span>
                </div>
            </div>
            {# 手机缩略菜单 #}
            {# 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".collapseNav-md" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             #}
             {# 占位挤占logo #}
            <div class="me-auto d-flex flex-fill"></div>
            <button class="navbar-toggler" type="button"  data-bs-toggle="offcanvas" href="#offcanvasRightMenu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {# </div> #}
    </nav>
</div>


