<!--头部模板-->
<script>
    if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        //document.write("<script src='{{staticThemePath}}/js/iscroll/iscroll.js'><" + '/' + "script>");
        //$(function () {
        //    new IScroll('#navWrapper', {
        //        scrollX: true,
        //        scrollY: false,
        //        mouseWheel: true,
        //        click: true
        //    });
        //})
    }
    {# 监听Element变化 #}
    var MutationObserver = window.MutationObserver || window.webkitMutationObserver || window.MozMutationObserver;
    let that=this;

    // We listen to the resize event
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    function getBrowserInterfaceSize() {
        var pageWidth = window.innerWidth;
        var pageHeight = window.innerHeight;

        if (typeof pageWidth != "number") {
            //在标准模式下面
            if (document.compatMode == "CSS1Compat" ) {
                pageWidth = document.documentElement.clientWidth;
                pageHeight = document.documentElement.clientHeight;
            } else {
                pageWidth = document.body.clientWidth;
                pageHeight = window.body.clientHeight;
            }
        }

        return {
            pageWidth: pageWidth,
            pageHeight: pageHeight
        }
    }
    //document.querySelector("#coverArtistsWrapper").on
    /*
    if (document.readyState === 'loading') {  // 此时加载尚未完成
        document.addEventListener('DOMContentLoaded', doSomething);
    } else {  // 此时`DOMContentLoaded` 已经被触发
        //doSomething();
    }
    */
    // Then we set the value in the --vh custom property to the root of the document
    function refreshVH(){
        {# vh = window.innerHeight * 0.01; #}
        {# if(slideListArtist)slideListArtist.refresh(); #}
        vh = getBrowserInterfaceSize().pageHeight*0.01;
        {# window.alert(getBrowserInterfaceSize().pageHeight) #}
        document.documentElement.style.setProperty('--vh', `${vh}px`);
        {# if(this.slideCover)this.slideCover.refresh(); #}
    }
    function loadTimeline(){
        document.getElementById("coverArtistsWrapper").classList.remove("d-none");
        document.getElementById("timelineWrapper").classList.remove("d-none");

        refreshVH();
    }
    refreshVH();
    document.addEventListener('DOMContentLoaded', loadTimeline);
    {# window.addEventListener('load', loadTimeline); #}
    window.addEventListener('resize', refreshVH);


    {# 更新导航状态 #}
    this.header={
        funSetNav:function(strAliasNav="timeline"){
            let listBnNav=document.querySelectorAll("[dr-dom-nav-bn]");
            listBnNav.forEach(bn=>{
                bn.setAttribute("aria-selected", "false");
                bn.classList.remove("now");
            })
            if(strAliasNav!="index"){
                {# 设置当前导航按钮 #}                
                let bnNav=document.querySelectorAll("[dr-dom-nav-bn="+strAliasNav+"]");
                bnNav.forEach(bn=>{
                    bn.setAttribute("aria-selected", "true");
                    bn.classList.add("now");

                })
            }else{
            }
        },
        listNav:[
            {% for cate in navigation %} {% if cate.parentId == '0' %}
            {
                defaultUrl:"{{cate.defaultUrl}}",
                url:"{{cate.url}}",
                name:"{{cate.name}}"
            },
            {% endif %} {% endfor %}
        ],
        get strAliasNav(){
            let path=window.location.pathname.split("/")[1];///artists___KuvrGBz9e
            let strAliasNav=path.split("__")[0];
            return strAliasNav;
        },
        get idxNav(){let idx=this.listNav.findIndex(v=>(v.defaultUrl==this.strAliasNav));return idx==-1?0:idx;},
        get objNav(){return this.listNav[this.idxNav]},
    };
</script>
{# 导航相关控制&监听 #}
<script>
    {# pushState和replaceState被调用时，是不会触发触发 popstate 事件的解决方案 #}
    const listener = function (type) {
        var orig = history[type];
        return function () {
            var rv = orig.apply(this, arguments);
            var e = new Event(type);
            e.arguments = arguments;
            window.dispatchEvent(e);
            return rv;
        };
    };
    window.history.pushState = listener('pushState');
    window.history.replaceState = listener('replaceState');
    //应用事件
    window.addEventListener('pushState', ePopStateHeader, false);
    window.addEventListener('popstate', ePopStateHeader, false);
    window.addEventListener('replaceState', ePopStateHeader, false);
    window.addEventListener('DOMContentLoaded', ePopStateHeader, false);

    function ePopStateHeader(event){
        
        console.log("window.popstate::",event.type,"strAliasNav=",this.header.strAliasNav);
        {# 非首页需要跳转相应页 #}
        if(event.type =="DOMContentLoaded" || event.type =="Load"){
            {# 导入页显示 #}                
            this.header.funSetNav("index");
            //首页则显示SlideCover
            $('.bs-wrapper-cover').show();

        }else{
            {# 更新导航状态 #}
            this.header.funSetNav(this.header.strAliasNav);
            {# $('.bs-wrapper-cover').hide(); #}
            
        }
    }
    const eBnNav=function(strAliasNav){
        let currentPageIndex=this.header.listNav.findIndex(v=>(v.defaultUrl==strAliasNav));
        if(currentPageIndex>=0){
            {# 先改地址 #}
            window.history.pushState({}, "{{site.title}}|"+ this.header.listNav[currentPageIndex].name, this.header.listNav[currentPageIndex].url);//设置状态
            {# 内容页跳转 #}
            slideMain.goToPage(this.header.idxNav,0);
            {# 封面收起 #}
            this.slideCover.goToPage(0,1);
        }
    }
</script>

<input type="hidden" value="{{userInfo._id}}" id="userId">
<input type="hidden" value="{{logined}}" id="logined">
<input type="hidden" value="{{tokenId}}" id="tokenId">
{% if site.lang == 'zh-TW' %}
{% set homelink = '/zh-TW' %}
{% set endStr = '_zh-TW' %}
{% else %}
{% set homelink = '/zh-CN' %}
{% set endStr = '' %}
{% endif %}

{# <header class="clearfix" id="header" ms-controller="headerCtr"> #}
{# <div id="navHeader" class="container-fluid position-absolute heightNav" style="" > #}
<div id="navHeader" class="listArtist" >

    {# PC版显示 #}
    <!--
    <div class="row d-none d-md-block " ms-controller="headerCtr">
        <div class="row justify-content-between p-4">
            {# <h1 class="display-6 text-white">赤瞳音乐</h1> #}
            <div class="col-4 ms-4">
                <a class="logo d-flex" href="#"><img class="img-fluid" src="{{site.logo}}" alt="{{site.title}}"/></a>
                {# <span class="text-muted">Toggleable via the navbar brand.</span> #}
            </div>
            {# 中部菜单 #}
            <div id="navMenuBnGroup" class="col d-flex flex-row justify-content-center align-items-center">
                <span class="px-3 rounded-pill border text-truncate">中文</span>
                <span class="px-3 rounded-pill border text-truncate">EN</span>
            </div>

            {# search #}
            <div class="col-3 input-group input-group-lg w-auto" :class="['input-area',(@activeSearch? 'active':'')]">
                {# <input ms-on-keyup="@onKeyUp" type="text" class="form-control" ms-duplex="@searchkey" placeholder="Search">                             #}
                <span class="input-group-text"><i ms-click='@searchMe' class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    -->


    {# toggle内容上部分 #}
    <nav id="headerNav" class="navbar d-flex flex-nowrap justify-content-between navbar-light bg-transparent sticky-top" ms-controller="headerCtr" style="">
        {# <div class="row"> #}
            <div class="navOffset navOffsetLeft d-flex"></div>
            {# logo&name #}
            <div class="navbar-brand">
                <a class="d-flex" data-bs-toggle="offcanvas" href="#offcanvasRight"><img class="img-fluid" src="{{site.logo}}" alt="{{site.title}}"/></a>
            </div>
            {# 手机缩略菜单 #}
            {# 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".collapseNav-md" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             #}
             {# 占位挤占logo #}
            <div class="navOffset navOffsetRight navOffsetRight-md d-flex d-md-flex">
                {# collapse  nav&search #}
                <div id="collapseNavbarPC" class="d-none d-md-flex navbar-collapse navbar-collapse-md">
                    <ul>
                        {% for cate in navigation %} {% if cate.parentId == '0' %}
                        <li class="nav-item text-nowrap rounded-pill" role="presentation" dr-dom-nav-bn="{{cate.defaultUrl}}">
                            <a class="nav-link" style="color: inherit" role="menuitem" tabindex="-1" alt="{{site.altkey}}{{cate.name}}"
                                href="javascript:void(0)" onclick="eBnNav('{{cate.defaultUrl}}')" name="{{cate.defaultUrl}}">{{cate.name}}</a>
                        </li>
                        {% endif %} {% endfor %}
                    </ul>
                    {# search #}
                    <div class="input-group input-group-lg search" type="button" :class="['input-area',(@activeSearch? 'active':'')]">
                        {# <input ms-on-keyup="@onKeyUp" type="text" class="form-control" ms-duplex="@searchkey" placeholder="Search">                             #}
                        <span class="input-group-text"><i ms-click='@searchMe' class="fa fa-search"></i></span>
                    </div> 
                </div>
                <div class="btnWrapper">
                {# <button type="button" class="btn-close text-reset" aria-label="Close" onclick="eClickTimelineClose()"></button> #}
                <bn-close class="btn-close"  aria-label="Close" onclick="eClickTimelineClose()"></bn-close>
                <bn-menu-toggler class="show"  data-bs-toggle="offcanvas" href="#offcanvasRightMenu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"></bn-menu-toggler>
                </div>
            </div>
        {# </div> #}
    </nav>
    <div id="collapseNavbarMobile" class="navbar-collapse navbar-collapse-md">
        <ul>
            {% for cate in navigation %} {% if cate.parentId == '0' %}
            <li class="nav-item text-nowrap rounded-pill" role="presentation" dr-dom-nav-bn="{{cate.defaultUrl}}">
                <a class="nav-link" style="color: inherit" role="menuitem" tabindex="-1" alt="{{site.altkey}}{{cate.name}}"
                    href="javascript:void(0)" onclick="eBnNav('{{cate.defaultUrl}}')" name="{{cate.defaultUrl}}">{{cate.name}}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
</div>
<script>
    let $headerContainer=document.getElementById("navHeader");
    let $headerNav=document.getElementById("headerNav");
    let $navOffsetRight=$headerNav.querySelector(".navOffsetRight");
    let $navBnClose=$headerNav.querySelector(".btn-close");
    let $navOffsetLeft=$headerNav.querySelector(".navOffsetLeft");
    let $navTogglerMenu=$headerNav.querySelector("bn-menu-toggler");

    {# 居中菜单 #}
    let $collapseNavbarMobile = document.getElementById('collapseNavbarMobile');
    {# PC顶端Timeline导航 #}
    let $collapseNavbarPC = document.getElementById('collapseNavbarPC');//$headerNav.querySelector("");//
    let $collapseNavBnGroupPC = $collapseNavbarPC.querySelector(' ul');
    //let bsCollapseNavbarPC = new bootstrap.Collapse($collapseNavbarPC, {
    //    toggle: false,
    //})
    {# 如果用animation动画的监听 #}
    //$collapseNavbarMobile.addEventListener("webkitAnimationEnd", function(e){ //动画结束时事件 
    //    {# this.className = this.className.replace('change', ' ');  #}
    //    console.log("动画结束监听","$collapseNavbarMobile",e);
    //    if(e.animationName == "openOut"){
    //        {# 动画结束则隐藏 #}
    //        $collapseNavbarMobile.classList.add("d-none");
    //    }
    //})
    //$navBnClose.addEventListener("webkitAnimationEnd", function(e){ //动画结束时事件 
    //    {# this.className = this.className.replace('change', ' ');  #}
    //    console.log("动画结束监听","$navBnClose",e);
    //    if(e.animationName == "rollOut" || e.animationName == "slideOut"){
    //        
    //    }
    //})
    //$navOffsetRight.addEventListener("webkitAnimationEnd", function(e){ //动画结束时事件 
    //    {# this.className = this.className.replace('change', ' ');  #}
    //    console.log("动画结束监听","$navOffsetRight",e);
    //    if(e.animationName == "rollOut"){
    //        {# 动画结束则显示叉子 #}
    //        {# $navBnClose.classList.remove("d-none","hide"); #}
    //        {# $navBnClose.classList.add("show"); #}
    //    }
    //})
    {# 切换到乐队列表页 #}{# Mobile：隐藏菜单，隐藏中英文， PC：显示中英文，隐藏菜单#}
    this.addEventListener("BS_COVER_WILL_LISTARTISTS", (page)=>{
        {# $headerContainer.classList.add("listArtist"); #}
        {# $headerContainer.classList.remove("done","timeline"); #}
        //$navBnClose.className=$navBnClose.className.replace("show","hide");//classList.add("hide");
        {# 隐藏居中菜单 #}
        setTimeout(function () {
            {# PC #}
            $collapseNavBnGroupPC.classList.add("d-none","d-md-none");
        }, 400);

        {# PC #}


    })
    {# 切换到时间轴页 #}{# Mobile：logo居中，显示叉，隐藏菜单按钮，显示居中菜单，隐藏中英文， PC：显示顶部才惨，隐藏中英文#}
    this.addEventListener("BS_COVER_WILL_TIMELINE", (page)=>{
        $headerContainer.classList.add("timeline");
        $headerContainer.classList.remove("done","listArtist");
        {# Mobile：logo居中，显示叉，隐藏菜单按钮 #}

        {# 右上导航按钮，艺人列表都有，时间轴都没有 #}
        {# 显示居中菜单 #}

        {# PC #}
        $collapseNavBnGroupPC.classList.remove("d-md-none");
        $collapseNavBnGroupPC.classList.add("d-md-flex");
    })
    this.addEventListener("BS_COVER_TIMELINE", (page)=>{
        $headerContainer.classList.add("timeline","done");
        $headerContainer.classList.remove("listArtist");
    })
    this.addEventListener("BS_COVER_LISTARTISTS", (page)=>{
        $headerContainer.classList.add("listArtist","done");
        $headerContainer.classList.remove("timeline");
    })
    {# 时间轴右上角叉 #}
    function eClickTimelineClose(){
        this.slideCover.goToPage(0,0);
    }
</script>


