{# 侧边导航菜单 #}
<div id="offcanvasRightMenu" class="offcanvas offcanvas-end offcanvasRightMenu-md" tabindex="-1" aria-labelledby="offcanvasRightMenuLabel">
    <div class="offcanvas-header">
        {# <h5 id="offcanvasRightLabel">Offcanvas right</h5> #}
        <div class="d-flex flex-column" data-bs-dismiss="offcanvas"><i ms-click='@searchMe' class="fa fa-search"></i></div>
        {# <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> #}
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offcanvas-body-md d-flex flex-column  justify-content-end">
        {# 导航菜单 #}
        <ul class=" flex-fill d-flex flex-column justify-content-start flex-wrap">
            {% for cate in navigation %} {% if cate.parentId == '0' %}
            <li class="menuItem menuItem-md text-nowrap">
                <a class="" style="color: inherit" tabindex="-1" alt="{{site.altkey}}{{cate.name}}" href="javascript:void(0)" onclick="eBnNav('{{cate.defaultUrl}}')" name="{{cate.defaultUrl}}">{{cate.name}}NEWS</a>
            </li>
            {% endif %} {% endfor %}
        </ul>
        {# 链接和其他 #}
        <ul class="menuFoot">
            <li>网易云音乐</li>
            <li>豆瓣</li>
            <li>Facebook</li>
            <li>订阅</li>
            <li>联系我们</li>

        </ul>
        <div class="menuFootCopyright">赤瞳音乐&nbsp;&nbsp;RUBY&nbsp;EYES&nbsp;RECORDS&nbsp;&nbsp;&nbsp;&nbsp;Copyright©2021</div>
    </div>
</div>


{# 详细内容页框架 #}
<div id="offcanvasRight"  class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    {# <h5 id="offcanvasRightLabel">Offcanvas right</h5> #}
    <div class="icon-arrow left flex-column" data-bs-dismiss="offcanvas"></div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div id="offcanvasDetail" class="offcanvas-body" ms-controller="offcanvasDetail">
    <div :visible="!@loadingState" ms-html="@dom"></div>
    <div :visible="@loadingState" class="w-100 h-100 justify-content-center align-items-center position-absolute" style="display: flex;font-size: 1.5rem;">
		<i class="fa fa-spin fa-spinner"></i>
	</div>
  </div>
</div>
<script>
    let $offcanvasDetail=document.getElementById("offcanvasDetail");
    let aOffcanvasBody = avalon.define({
		$id: 'offcanvasDetail',
		dom: "",
		loadingState: false,
	})
    this.addEventListener("OPEN_OFFCANVAS_DETAIL",function(e){
        let url=e.detail.relatedTarget.attributes["data-dr-url"].value ||  "/about___";
        console.info("event:详情即将打开：",url);
        let cateId="8hIKx4Ulz";
        
        aOffcanvasBody.loadingState=true;
        $.ajax({
			type: 'GET',
			url,//url: '/about___' + cateId,
			success: function (res) {
                debugger
				if (res.status == 200) {
                    aOffcanvasBody.loadingState = false;
                    aOffcanvasBody.dom = res.data.comments || res.data;
				}
			},
			error: function (d) {
				console.error('error:', d);
                debugger;
                aOffcanvasBody.loadingState = false;
                aOffcanvasBody.dom = "网络故障，内容获取失败："+d.toString();
			}
		})
    });
    this.addEventListener("CLOSE_OFFCANVAS_DETAIL",(e)=>{

    });
    
    let $offcanvasRight = document.getElementById('offcanvasRight')
    $offcanvasRight.addEventListener('show.bs.offcanvas', function (e) {
        that.dispatchEvent(new CustomEvent("OPEN_OFFCANVAS_DETAIL", {detail:e}))
    })
    $offcanvasRight.addEventListener('hide.bs.offcanvas', function (e) {
        that.dispatchEvent(new CustomEvent("CLOSE_OFFCANVAS_DETAIL",{detail:e}));
    })

</script>

<div class="foot-float back-to-top" id="bnRubyEyes">
    {# <img class="btnRubyEyes glyphicon glyphicon-chevron-up" src=""></i> #}
    <div class="btnRubyEyes btnRubyEyes-md glyphicon glyphicon-chevron-up" data-bs-toggle="offcanvas" href="#offcanvasRight" data-dr-url="/about___"></div>

</div>

<button id="bnArrowTimeline" class="foot-float bnTest" onclick="eClickTest()">

</button>
<script>
    let $bnArrowTimeline=document.getElementById("bnArrowTimeline");
    function eClickTest(){
        this.slideCover.goToPage(0,this.slideCover.getCurrentPage().pageY==1?0:1);
    }
    this.addEventListener("BS_COVER_TIMELINE", (page)=>{
        $bnArrowTimeline.classList.add("d-none");
    })
    this.addEventListener("BS_COVER_WILL_LISTARTISTS", (page)=>{
        $bnArrowTimeline.classList.remove("d-none");
    })
</script>