{% from "./compListTags.html" import listTags %}
{% from "./compAvatar.html" import avatar %}
<!--
约定documentList.docs为文档列表数据集合
item为子元素集合
-->

    {# 时间轴列表模式，乐队名在上tags #}
    {% if pageInfo.itemTemplate == "timeline" %}
    <div class="row py-2" style="">
        {% if item.listArtists[0] %}
        <div class="col-md-auto">
            {# 暂时只用第一作者 #}
            {{avatar(item.listArtists[0])}}
        </div>
        <div class="col">
            {% for artist in item.listArtists %}
            <span class="" alt="{{site.altkey}}{{artist.name}}" style="">
                <a href="{{artist.url}} " target="_blank ">
                    <u>{{artist.name}}</u>
                </a>
            </span>
            {% endfor %}
            <div class="row">
                <span class="" alt="{{site.altkey}}{{artist.name}}" style="">
                    <a href="{{artist.url}} " target="_blank ">
                        发布专辑
                    </a>
                </span>
            </div>
        </div>
        {% endif %}
    </div>
    {# 标签 #}
    <div class="row mt-2 pb-3 border-bottom border-dark" style="">
        {{listTags(item.tags)}}
    </div>
    {% endif  %}
    {# 图 #}
    <div class="row">
        <a href="{{item.url}} " target="_blank " class=" px-0"><img src="{{item.sImg}} " class="img-fluid" alt="{{item.title}} " /></a>
    </div>
    {# 专辑名 #}
	<div class="row justify-content-between border-top border-dark py-2" style="">
        <div class="col text-truncate text-nowrap">
            <a href="{{item.url}} " target="_blank " class=" "><u>{{item.name}}</u></a>
        </div>
        <div class="col-auto text-nowrap" >
            <span class="border border-dark px-3"><u class=" d-inline-block">{{item.date}}</u></span>
        </div>
	</div>
    {# 唱片列表模式，乐队名在下 #}
    {% if pageInfo.itemTemplate == "record" %}
    <div class="row">
        {% for artist in item.listArtists %}
        <h5 class="" alt="{{site.altkey}}{{artist.name}}">
            <a href="{{artist.url}} " target="_blank ">
                {{artist.name}}
            </a>
        </h5>
        {% endfor %}
    </div>
    {% endif  %}
