{% extends "../default.html" %} 
{% block content %}
{% set infoPagination={page:"records",idDOM:"list-records",api:"/api/record/getList",pageInfo:pageInfo,cateInfo:cateInfo} %}
{% set tempList %}
    <div class="row">
        {% for item in posts %}
        <div class="col-lg-3 col-md-4 col-sm-6 border border-dark" style="border: black solid 1px">
            {% include "../public/recordItem.html" %}
        </div>
        {% endfor %}
    </div>
{% endset %}
{{containerOfList(infoPagination,posts,tempList)}}

{% endblock %}

