{% from "../public/compListTags.html" import tag as domTag %}
{% from "../public/compListTags.html" import listTags as listTags %}
<link rel="stylesheet" href="/static/themes/dorawhite/css/detail.css">
<div class="detail {{serviceName}} font-normal" data-bs-main="{{post.docAlias}}">
    <div class="head">
        {# 乐队图 #}
        <div class="album">
            <img src="{{post.sImg}}" alt="{{image.name}}"/>
        </div>
        <div class="link">
            <div class="catalog">{{post.catalog}}</div>
            <div class="url outUnderline"><a href="{{post.listLinks[0].url}}" target="_blank">购买链接<img src="/static/upload/images/icons/bnArrowLink.svg"/></a></div>
        </div>
    </div>
    <div class="info">
        {# 乐队名 #}
        <div class="name">{{post.nameArtists}}<br>{{post.name}}</div>
        {# 标签 #}
        {{ listTags(post.tags) }}
        {# 唱片：发行方式&发行日期 #}
        {% if post.listFormatTags.length>0%}
        <ol class="formatTags breadcrumb">
            {% for link in post.listFormatTags %}
            <li class="breadcrumb-item" onclick="window.goto('/search?q={{link.name}}')">{{link.name}}</li>
            {% endfor %}
        </ol>
        {% endif %}
        <div class="date">{{post.dateFull}}</div>
    </div>
    <div class="headEnd"></div>
    {# 介绍 #}
    <article class="">
        {{post.comments | safe}}
    </article>
    {# 友链 #}
    {% if post.listLinks.length>0%}
    <ol class="breadcrumb">
        {% for link in post.listLinks %}
        <li class="breadcrumb-item"><a href="#">{{link.name}}</a></li>
        {% endfor %}
    </ol>
    {% endif %}

</div>