{# 公共的initTimelinePullDown，MM初始化流程 #}
<script id="scriptTimeline">
    this.bsTimeline = {};
    this.$listBSMM=this.$listBSMM || [];
    {# 上拉刷新事件，bsMM和bsTimeline共用 #}
    this.initTimelinePullDown=function(bsTar){
        // pulldownRefresh state
        const PHASE = {
            moving: {
                enter: 'enter',
                leave: 'leave'
            },
            fetching: 'fetching',
            succeed: 'succeed'
        }
        const ARROW_BOTTOM = '<svg width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M367.997 338.75l-95.998 95.997V17.503h-32v417.242l-95.996-95.995l-22.627 22.627L256 496l134.624-134.623l-22.627-22.627z"></path></svg>'
        const ARROW_UP = '<svg width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M390.624 150.625L256 16L121.376 150.625l22.628 22.627l95.997-95.998v417.982h32V77.257l95.995 95.995l22.628-22.627z"></path></svg>'

        bsTar.setTipText=function(phase = PHASE.default){
            const TEXTS_MAP = {
                'enter': `${ARROW_BOTTOM} 下拉回首页`,
                'leave': `${ARROW_UP} 松开前往`,
                'fetching': '准备中...',
                'succeed': '正在前往'
            }
            let $pulldown=bsTar.content.querySelector(".pulldown-tip")
            if($pulldown)$pulldown.innerHTML = TEXTS_MAP[phase];
        }
        bsTar.ePullDown=function(){
            that.dispatchEvent(new CustomEvent("BS_TIMELINE_PULL_DOWN", {
                detail:{}
            }))
            // tell BetterScroll to finish pull down
            bsTar.finishPullDown();
            bsTar.setTipText(PHASE.moving.succeed);
        }

        bsTar.on('pullingDown', bsTar.ePullDown)
        // v2.4.0 supported
        bsTar.on('enterThreshold', () => {
            bsTar.setTipText(PHASE.moving.enter)
        })
        bsTar.on('leaveThreshold', () => {
            bsTar.setTipText(PHASE.moving.leave)
        })        
    }
    {# 初始化每月的bs #}
    this.resetBSMM=function($bsMM){
        let idxMM=$bsMM.getAttribute("ms-controller");
        let objName="bs-"+idxMM;
        let objInitBSMM={
            //specifiedIndexAsContent:1,
            disableMouse: false,
            disableTouch: false,
            scrollY: true,
            scrollX: false,
            nestedScroll: {
                groupId: 'cover-scrollY'
            },
            useTransition: true,//是否使用 CSS3 transition 动画
            momentum: true,//滚动动画
            bounce: {
                top: true,
                bottom: true,
                left: true,
                right: true
            },//回弹动画
            //outOfBoundaryDampingFactor:0.1,
            //stopPropagation: false,//阻止事件冒泡。多用在嵌套 scroll 的场景
            probeType: 3,
            mouseWheel: {
                speed: 20,
                invert: false,
                easeTime: 300
            },
            pullDownRefresh: {
                threshold: 80,
                stop: 40
            },
            scrollbar: true,
            //observeDOM: true // 开启 observe-dom 插件
            preventDefaultException:{ 
                className:/(^|\s)bsClick(\s|$)/
            }
        }
        {# class按所有doc的栏目，统计并标注类 #}
        let $listDoc=$bsMM.querySelectorAll(".item");
        let listClass=[];
        $listDoc.forEach($doc=>{
            listClass.push(...$doc.classList.value.split(" "));
        })
        listClass=[...(new Set(listClass))];
        listClass.shift();
        $bsMM.parentElement.classList.add(...listClass);
        {# 只初始化一次，防止事件多次触发 #}
        if(!$bsMM.objBS){
            $bsMM.objBS = new BetterScroll.createBScroll($bsMM, objInitBSMM);
            {# 月份计算坐标 #}
            Object.defineProperties.call($bsMM,$bsMM,{
                $docNow:{
                    get:()=>{
                        let $mmNow=$bsMM;
                        {# 查询当前日期 #}
                        let topMM=$bsMM.isMobile ? that.bsTimeline.paddingTop : $mmNow.getBoundingClientRect().top;
                        let $listDocs=$mmNow.querySelectorAll("[dr-date-doc]");
                        $mmNow.$docLast=$mmNow._$docNow || false;
                        $mmNow._$docNow=Array.from($listDocs).find(($doc,idx)=>{
                            const rect=$doc.getBoundingClientRect();
                            return rect.height>0 && rect.top >= topMM;
                        });
                        if(!$mmNow._$docNow)$mmNow._$docNow=$listDocs[$listDocs.length-1];
                        return $mmNow._$docNow;
                    },
                    configurable:true,
                },
                isDateNew:{
                    get:()=>($bsMM.$docLast != $bsMM._$docNow),
                },
                strDateNow:{
                    get:()=>{return $bsMM._$docNow ? $bsMM._$docNow.getAttribute("dr-date-doc") : ($bsMM.$docNow ? $bsMM.$docNow.getAttribute("dr-date-doc") : false) ;},
                },
                strDateLast:{
                    get:()=>{return $bsMM.$docLast ? $bsMM.$docLast.getAttribute("dr-date-doc") : false ;},
                },
                idxMM:{
                    get:()=>($bsMM.getAttribute("ms-controller")),
                },
                strMonth:{ get:()=>($bsMM.idxMM.substr(4,-1)), },
                strYear:{ get:()=>($bsMM.idxMM.substr(0,4)), },
                objName:{
                    get:()=>("bs-"+$bsMM.idxMM),
                },
                $content: { get:()=>( $bsMM.objBS.content ) },
                isMobile:{ get:()=>( $bsMM.objBS.wrapper.clientHeight == $bsMM.objBS.content.clientHeight ), },
            })  
            //设置事件;
            $bsMM.objBS.on('beforeScrollStart', (e)=>{
                $bsMM.objBS.refresh();
                {# $bsMM.objBS.enabled(); #}
            })
            $bsMM.objBS.on('mousewheelStart', (e)=>{
                $bsMM.objBS.refresh();
            })            
            $bsMM.objBS.on("scroll",(pos)=>{//this===MutationObserver
                
                if($bsMM.classList.contains("now")){
                    that.bsTimeline.$docNow=$bsMM.$docNow;
                    {# 当前月份滚动 && #}{# 日期变化，且用户操作产生的，才触发同步通知 #}
                    if(!$bsMM.objBS.pending && $bsMM.objBS.enabled && !$bsMM.$docTo)that.bsTimeline.checkEvent($bsMM.isDateNew);
                }
            })
            $bsMM.objBS.scroller.animater.hooks.on('end', () => {
                that.bsTimeline.enable();
                $bsMM.objBS.enable();
                $bsMM.$docTo=false;
                console.log("月份轴animater.end停止");
            })
            //$bsMM.objBS.scroller.hooks.on('scrollEnd', () => {
            //    //that.bsTimeline.enable();
            //    //console.log("月份轴scrollEnd停止");
            //    //that.dispatchEvent(new CustomEvent("BS_TIMELINE_SCROLL_END"));
            //})
            {# $bsMM.objBS.on('pullingDown', that.bsTimeline.ePullDown)     #}
            that.initTimelinePullDown($bsMM.objBS);
        }
        $bsMM.objBS.refresh();
    }
</script>
