<!DOCTYPE html>
<html class="{{pageType}}">

<head>
    {# <meta name='viewport' content='initial-scale=1, viewport-fit=cover'> #}
    {% header adaptor="ie" %}
    <script>
        // Set the options globally
        // to make LazyLoad self-initialize
        window.lazyLoadOptions = {
            threshold:800,
            use_native: true
        };
        // Listen to the initialization event
        // and get the instance of LazyLoad
        window.addEventListener("LazyLoad::Initialized",(event)=>{
                window.lazyLoadInstance = event.detail.instance;
        },false);
    </script>
    <!-- 引入组件库 -->
    <!-- Production version -->
    {# <script src="https://unpkg.com/@popperjs/core@2"></script> #}
    {# <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script> #}
    {# <script src="https://unpkg.com/better-scroll@latest/dist/better-scroll.js"></script> #}
    {# betterScroll #}
    {% plugin name="popper twitter-bootstrap font-awesome betterScroll" %}
    {% endplugin %}
    {# 模块 #}
    {% from "./public/compNavAvatar.html" import navAvatar %}
    {% from "./public/compContainerList.html" import containerOfList %}
    {% from "./public/compListTags.html" import listTags %}
    {% from "./public/compTimelineBar.html" import timelineBar %}
    {% from "./public/compTimelineBar.html" import timelineBarDocs %}
    <!-- 二次开发静态资源 -->
    {% assets 'default.css header.css footer.css timelineBar.css artist.css dora.front.js white.css avatar.css timeline.css utils.css' %}
    {% endassets %}

    {% endheader %}

    <input type="hidden" value="{{lsk}}" id="sysKeys">
    <script>
        {# import BScroll from '@better-scroll/core' #}
        {# BScroll.use(MouseWheel) #}
        {# BScroll.use(Slide) #}

        {# BScroll.use(NestedScroll) #}
    </script>
</head>

<body class="flex">
    {# 各种浮动层 #}
    {% include "./public/overlay.html" %}
    {# 整屏容器 #}
    {% include "./public/header.html" %}
    {% block footer %}
        {% include "./public/footer.html" %}
    {% endblock %}
    {# mainpage大红标题 scroll#}

    {% block cover %}
        <div id="mainCover" class="paddingCoverTop paddingCoverTop-md">
            {# <div class="w-100 heightNav"></div> #}
            {# scroll #}
            <div id="coverWrapper" class="bs-wrapper-cover heightMain">
                <div class="bs-content-cover bg-transparent text-dark">
                    {# 空容器 #}
                    {# <div class="d-none bg-transparent"></div> #}
                    {# 横滚乐队名 #}
                    {% include './public/compBSArtists.html' %}

                    {# 时间轴内容区 #}
                    {% include './public/compBSTimeline.html' %}
                </div>
                <script>
                    this.slideCover=new BetterScroll.createBScroll('.bs-wrapper-cover', {
                        //specifiedIndexAsContent:1,
                        disableMouse: false,
                        disableTouch: false,
                        scrollX: false,
                        scrollY: true,
                        mouseWheel: {
                            speed: 20,
                            invert: false,
                            easeTime: 300
                        },
                        //nestedScroll: {
                        //    groupId: 'cover-scrollY'
                        //},
                        slide: {
                            threshold: 0.3,
                            loop: false,
                            autoplay:false,
                            listenFlick:true,
                        },
                        useTransition: true,
                        momentum: false,
                        bounce: false,
                        stopPropagation: false,
                        probeType: 3,
                    
                    })
                    {# 创建自定义事件 #}


                    {# //初始化slideCover后隐藏Cover，后面再判断是否显示 #}
                    {# $('.bs-wrapper-cover').hide(); #}
                    
                    this.slideCover.on('slideWillChange', (page) => {
                        {# 导航更新 #}
                        this.header.funSetNav(this.header.strAliasNav || "timeline");
                        //$('.bs-wrapper-cover').hide();                        
                        
                        if(page.pageY==1){
                            // 创建并分发事件
                            this.dispatchEvent(new CustomEvent("BS_COVER_WILL_TIMELINE", {detail:{page}}))
                        }else{
                            // 创建并分发事件
                            this.dispatchEvent(new CustomEvent("BS_COVER_WILL_LISTARTISTS", {detail:{page}}))
                        }
                        console.log("e:slideWillChange",page)
                        {# this.slideCover.refresh(); #}
                    })
                    //this.slideCover.on('scroll', (position) => {
                    //    this.slideCover.refresh();
                    //})
                    this.slideCover.on('slidePageChanged', (page) => {
                        if(page.pageY==1){
                            this.slideCover.disable();
                            console.info("去使能");

                            // 创建并分发事件
                            this.dispatchEvent(new CustomEvent("BS_COVER_TIMELINE", {detail:{page}}))
                        }else{
                            this.slideCover.enable();
                            // 创建并分发事件
                            this.dispatchEvent(new CustomEvent("BS_COVER_LISTARTISTS", {detail:{page}}))
                        }
                        {# window.alert('slidePageChanged'); #}
                        {# setTimeout(window.slideCover.refresh,1000); #}
                        this.slideCover.refresh();
                    })
                    
                    {# 监听时间轴下拉事件 #}
                    this.addEventListener("BS_TIMELINE_PULL_DOWN",(e)=>{
                        console.info("BS_TIMELINE_PULL_DOWN=============>");
                        this.slideCover.goToPage(0,0);
                    })

                </script>
            </div>
        </div>
        

    {% endblock %}
    {# <div class="mainbody" id="{{pageType}}" style="width:100%;max-width:1199px;"> #}
    <div class="d-none container-fluid position-absolute w-100 top-0" id="{{pageType}}">
        <input type="hidden" value="{{site.lang}}" id="siteLang">
        {# 主框架  #}
        {# 上下slide #}
        
        {# 主框架 --end #}
        {# 
        {% block navAvatar %}
            <div class="col-auto">
                {{navAvatar(listAvatars,128)}}
            </div>
        {% endblock %} 
        #}
    </div>
    <script
    async
    src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"
    ></script>    
</body>

</html>