<!DOCTYPE html>
<html class="{{pageType}}">

<head>
    {% header adaptor="ie" %}

    <!-- 引入组件库 -->
    <!-- Production version -->
    {# <script src="https://unpkg.com/@popperjs/core@2"></script> #}
    {# <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script> #}
    {% plugin name="popper twitter-bootstrap font-awesome" %}
    {% endplugin %}

    <!-- 二次开发静态资源 -->
    {% assets 'dora.front.js white.css avatar.css artist.css' %}
    {% endassets %}

    {% endheader %}

    <input type="hidden" value="{{lsk}}" id="sysKeys">
</head>

<body>
    {% include "./public/header.html" %}
    {# <div class="mainbody" id="{{pageType}}" style="width:100%;max-width:1199px;"> #}
    <div class="container-xxl" id="{{pageType}}" style="width:100%;">
        <input type="hidden" value="{{site.lang}}" id="siteLang">
        {% block content %}{% endblock %}
        {# {% block navAvatar %}{% endblock %} #}
    </div>
    {% include "./public/footer.html" %}
</body>

</html>