.demo-ruleForm {
    margin: 15px 0;
    width: 80%;
    padding-bottom: 50px;
    .post-rate {
      .el-rate {
        margin-top: 10px;
      }
    }
    .dr-submitContent {
      position: fixed;
      z-index: 9999999;
      padding: 10px 30px;
      text-align: right;
      right: 0;
      bottom: 0;
      background: none;
      margin-bottom: 0;
    }
  
    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
      border-color: #409eff;
    }
    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 200px;
      height: 150px;
      line-height: 150px;
      text-align: center;
    }
    .avatar {
      width: 200px;
      height: 158px;
      display: block;
    }
  
    .upSimg {
      position: relative;
      .refresh-btn {
        position: absolute;
        left: 220px;
        top: 0;
        i {
          // color: #dcdfe6;
          font-weight: 400;
        }
      }
    }
    // 选择框
    .el-autocomplete{
      width:100%;
    }

    .el-select {
      width: 100%;
    }
    // 文本框label
    // .el-input-group__prepend{
    //   background-color: transparent;
    //   border:none;
    // }
    // 日期范围框
    .el-range-editor.el-input__inner{
      width:100%;
    }
    // 备注说明
    .el-select-suffix{
      width:0px;
      overflow: visible;
      .el-input__suffix-inner{
          position: absolute;
          right: 100%;
          white-space: nowrap;
          background-color: white;
          background-clip: content-box;
          border: 2px solid transparent;
          max-height: -webkit-fill-available;
      }
    }
  }
  