.manageMainOuter {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
    display: flex;
    justify-content: center;
    .dr-datatable {
      max-width: 80vw;
    }
  }

  .hideSidebar {

    .main-container {
      margin:0px;
      @media only screen and (min-width: 768px) {
        margin-left: 54px;
      }
    }

  }

  // mobile responsive
  .mobile {

    .main-container {
      margin-left: 0px;
      .dr-datatable {
        max-width: 100vw;
      }
    }

  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }

}